- var Page = {title:"2 Connect",section:"Home"}
- var Meta = {description:"Default Description",keywords:"Default Keywords"}
- var SubHeader = {heading:"2connect.net"}
- var Footer = {heading:"2connect.net"}