.page-footer
    footer.footer
        ul.footer-main-nav
            li
                a(href="#") About us
            li
                a(href="#") Contact us
            li
                a(href="#") Terms & Conditions
            li
                a(href="#") Privacy Policy

        .stay-connected
            h3 Stay connected
            ul
                li
                    a.icon-facebook-circled(href="#")
                li
                    a.icon-linkedin-circled(href="#")
                li
                    a.icon-instagram19(href="#")
                li
                    a.icon-twitter-circled(href="#")
                li
                    a.icon-youtube30(href="#")
        .newsletter-form-wrapper
            h3 Subscribe to newsletter
            form(action="#")
                input(type="text", placeholder="Enter email address.")
                input(type="button", value="Go")

        .copy-right
            p &copy; 2015 2ConnectBahrain. All rights reserved

