// build:js assets/js/vendor.js
script(src="assets/js/vendor/jquery-1.11.3.min.js")
script(src="assets/js/vendor/owl.carousel.min.js")
script(src="assets/js/vendor/jquery-validate.js")
script(src="assets/js/vendor/jquery-inputmask.js")
script(src="assets/js/vendor/magnific-popup.js")
script(src="assets/js/vendor/modernizr-2.6.2.min.js")
script(src="assets/js/vendor/Chart.js")
script(src="assets/js/vendor/Chart.Line.js")
//- start date picker
script(src="assets/js/vendor/moment.js")
script(src="assets/js/vendor/pikaday.js")
//- end date picker
// endbuild

// build:js assets/js/custom.js
script(src="assets/js/plugins.js")
script(src="assets/js/main.js")
// endbuild

