head
    title
        | #{Page.title}
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title #{Page.title}
    meta(name="description", content=Meta.description)
    meta(name="keywords", content=Meta.keywords)
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport",content="width=1120")

    link(rel="apple-touch-icon", href="/apple-touch-icon.png")
    link(rel="shortcut icon", href="/favicon.ico")

    // build:css assets/css/all.css
    link(rel="stylesheet", href="assets/css/normalize_custom.css")
    link(rel="stylesheet", href="assets/css/fonts.css")
    link(rel="stylesheet", href="assets/css/header.css")
    link(rel="stylesheet", href="assets/css/footer.css")
    link(rel="stylesheet", href="assets/css/owl.carousel.css")
    link(rel="stylesheet", href="assets/css/magnific-popup.css")
    link(rel="stylesheet", href="assets/css/pikaday.css")
    link(rel="stylesheet", href="assets/css/main.css")
    // endbuild

    // build:js assets/js/modernizr-2.6.2.min.js
    script(src="assets/js/vendor/modernizr-2.6.2.min.js")
    // endbuild

    
