.page-header
    include ../include/mixin.jade
    // Start site header
    header.header
        .header-main
            .logo
                a(href="index.html")
                    img.svg(src="assets/img/2connect_logo.svg")

            a.menu-button.middle-items(href="#")
                span.menu-wrapper
                    span.menu-global.menu-top
                    span.menu-global.menu-middle
                    span.menu-global.menu-bottom

        .nav-wrapper.has-underlay
            nav.nav
                ul.main-nav
                    //li.active
                    li
                        a(href="#") Account Details
                        ul
                            li
                                a(href="#") Contacts
                    li
                        a(href="#") Services
                        ul
                            li
                                a(href="#") Service Details
                            li
                                a(href="#") Request New Service
                    li
                        a(href="#") Billing
                        ul
                            li
                                a(href="#") Transaction History
                    li
                        a(href="#") Contact 2Connect

                ul.secondary-nav
                    li.search
                        form#search(action="#",method="post")
                            .label
                                label#search-label(for="search-terms")
                            .input
                                input#search-terms(type="text",name="search-terms", placeholder="Enter search terms...")
                    li
                        a(href="#") Jobs
                    li
                        a(href="#") Contact Us
                    li.login
                        a(href="#") Logout


