//-=========================================== Common ===========================================================
//- ==================================================================================================================

//- Quick Link Box

mixin quick_links_box()
	.quick_links_box
		h2 Quick Links
		.link.payment
			a.quick_link_button(href="#")
				span.quick_icon.icon-payment6
				span.value Online Payment
		.link.support
			a.quick_link_button(href="#")
				span.quick_icon.icon-call36
				span.value Support
		.link.request
			a.quick_link_button(href="#")
				span.quick_icon.icon-call37
				span.value Request New Service
		.link.contacts
			a.quick_link_button(href="#")
				span.quick_icon.icon-address-book3
				span.value Contacts
		.link.usage
			a.quick_link_button(href="#")
				span.quick_icon.icon-linegraphic9
				span.value Usage Summary

//- featured list

mixin featured-list(items)
	.featured-list
		ul
			each item in items
				li
					span.icon
						img.svg(src="assets/img/placeholders/"+item.icon_name)
					h2=item.header2
					p=item.para
					p
						a(href="#" class="ui-button medium")=item.link


//-=========================================== BILLING PAGE===========================================================
//- ==================================================================================================================

mixin bill_table(items)
	.table.bill_table
		.row_head
			.cell_head.chkbox 
			.cell_head.sid Service ID
			.cell_head.sname Service Name
			.cell_head.date Date
			.cell_head.out_bill Outstanding Bill
			.cell_head.des_amt Desired Amount
			.cell_head.view &nbsp;&nbsp;&nbsp;Action
		each item in items
			.row_data
				.cell_data.chkbox.no_border
					input.hide(type="checkbox")
					span.chkbox_icon.icon-square93
				.cell_data.sid=item.id
				.cell_data.sname=item.name
				.cell_data.date=item.date
				.cell_data.out_bill=item.os_bill
				.cell_data.des_amt
					input.bil_amt.txt_box_border(type='text' placeholder='enter amount')
				.cell_data.view.no_border
					a.view_detail(href="#") View Details
				.clearfix
	.submit_link.billing
		a.lightbox-link(href="#billing-popup") Make Payment

//- popup billing

mixin popup_billing(items)
	.table.popup
		.popup_container
			h1 Online Payment
			each item in items
				.row_data
					.cell_data.s_id=item.id
					.cell_data.s_name=item.os_bill
					.clearfix

			.button
				.cancel
					a.mfp-close(href='#') Cancel
				.save.paynow
					a(href='#') Pay Now
				.clearfix


//- 												ACCOUNT DETAILS PAGE
//- ===============================================================================================================================
//- ===============================================================================================================================

mixin acc_tbl(items)
	.table.account-table
		each item in items
			.row_data
				.cell_data_acc.row_title.title=item.title
				.cell_data_acc.txt_box
					input.txt_box_border(type='text', placeholder="Enter details" value=item.txt_box disabled)
				.cell_data_acc.icon_edit_save
					a.tbl_col_a.rm_a(href='javascript:void(0)')
						span(class="icon-pencil41")
						| Edit
				.clearfix
	.submit_link.add_contact
		a(href='#') Add Contact

//-											 Contacts page
//- =================================================================================================================================
//- =================================================================================================================================

mixin contacts_tbl(items)
	.table.contacts_table
		.row_head
			.cell_head.name Name
			.cell_head.title Title
			.cell_head.tel Telephone
			.cell_head.mob Mobile
			.cell_head.email Email
			.cell_head.edit Action
			.cell_head.delete
		each item in items
			.row_data
				.cell_data.name=item.name
				.cell_data.title=item.title
				.cell_data.tel=item.telephone
				.cell_data.mob=item.mobile
				.cell_data.email=item.email
				.cell_data.edit
						a.rm_a(href='javascript:void(0)') Edit
				.cell_data.delete
					a.rm_a(href='javascript:void(0)') Delete
			.clearfix

	.submit_link.contacts 
		a(href='#contacts-popup') Add New Contact


//- popup box contacts

mixin popup_contacts(items)
	.table.popup
		.popup_container
			h1 Add new contacts

			each item in items
				.row_data(class=item.class)
					.cell_data.label=item.label
					.cell_data.text_box
						input.txt_box_border(type='text' placeholder='Enter details' value=item.value)
					.clearfix

			.button
				span
					a.mfp-close.ui-button.big(href='#') Cancel
				span
					a.ui-button.big(href='#') Save
				.clearfix
			.message
				p 
					|Thank you, infromation has been updated successfully.


//- Dashboard page

//- Dashboard block2

mixin dashboard_details(item)
	.detail.acc_name Account name:
		span=item.acc_name
	.detail.contact_name Primary contact name:
		span=item.contact_name
	.detail.status Service status:
		span=item.status
	.detail.invoice Latest invoice
		span=item.invoice
	.detail.payment Latest payment
		span=item.payment


												//- Services page
//- =================================================================================================================================
//- =================================================================================================================================

mixin service_table(items)
	.table.service_table
		.row_head
			.cell_head.service_id Service ID
			.cell_head.service_name Service Name
			.cell_head.view_edit Action
		each item in items
			.row_data
				.cell_data.service_id=item.id
				.cell_data.service_name=item.name
				.cell_data.view_edit
					a.view_detail(href="#") View Details / Edit
				.clearfix
	.submit_link.service_link
		a(href="#") Add new service



												//- Transaction history page
//- =================================================================================================================================
//- =================================================================================================================================

mixin invoice_history_table(items)
	.invoice_history
		h1 Invoice History

		.row_head
			.cell_head.receipt_id
				select.rm_select
					option(value='receipt_id') Receipt ID
					option(value='selection_1') Selection 1
					option(value='selection_2') Selection 2
					option(value='selection_3') Selection 3
			.cell_head.amt_paid
				select.rm_select
					option(value='amount_paid') Amount Paid
					option(value='selection_1') Selection 1
					option(value='selection_2') Selection 2
					option(value='selection_3') Selection 3
			.cell_head.date
				select.rm_select
					option(value='date') Date
					option(value='selection_1') Selection 1
					option(value='selection_2') Selection 2
					option(value='selection_3') Selection 3
			.cell_head.view_invoice Action

		each item in items
			.row_data
				.cell_data.receipt_id=item.id
				.cell_data.amt_paid=item.amt_paid
				.cell_data.date=item.date
				.cell_data.view_history.view_invoice
					a(href="#")
						span.icon-printed7
						|View Invoice
				.clearfix
		.submit_link.load_more
			a(href="#") Load more
				span 5 items



mixin payment_history_table(items)
	.payment_history
		h1 Payment History

		.row_head
			.cell_head.receipt_id
				select.rm_select
					option(value='receipt_id') Receipt ID
					option(value='selection_1') Selection 1
					option(value='selection_2') Selection 2
					option(value='selection_3') Selection 3
			.cell_head.description
				select.rm_select
					option(value='description') Description
					option(value='selection_1') Selection 1
					option(value='selection_2') Selection 2
					option(value='selection_3') Selection 3
			.cell_head.amt_paid
				select.rm_select
					option(value='amount_paid') Amount Paid
					option(value='selection_1') Selection 1
					option(value='selection_2') Selection 2
					option(value='selection_3') Selection 3
			.cell_head.date
				select.rm_select
					option(value='date') Date
					option(value='selection_1') Selection 1
					option(value='selection_2') Selection 2
					option(value='selection_3') Selection 3

			.cell_head.view_invoice Action

		each item in items
			.row_data
				.cell_data.receipt_id=item.id
				.cell_data.description=item.description
				.cell_data.amt_paid=item.amt_paid
				.cell_data.date=item.date
				.cell_data.view_history.view_receipt
					a(href="#")
						span.icon-printed7
						|View Invoice
				.clearfix
		.submit_link.load_more
			a(href="#") Load more
				span 5 items


												//- Service Details page
//- =================================================================================================================================
//- =================================================================================================================================


mixin service_details_table1(items)
		each item in items
			.row_data
				.cell_data.row_title.service_title=item.title
				.cell_data.service_txt_box Lorem ipsum.
				.clearfix


mixin service_details_table2(items)
		each item in items
			.row_data
				.cell_data.row_title.service_title=item.title
				.cell_data.service_txt_box
					select.rm_select.cust_select
						option(value=item.select1)=item.select1
						option(value=item.select2)=item.select2
						option(value=item.select3)=item.select3
						option(value=item.select4)=item.select4
				.cell_data_acc.up_sa_call
					a.tbl_col_a.rm_a(href='#')
						span.icon(class=item.icon)
						span.a_txt=item.txt
				.clearfix



							//- Request New Service

mixin app_details_list_col_1(items)
	.table.new_service_table
		each item in items
			.row_data
				.cell_data.new_service_title=item.title
				.cell_data.new_service_txt_box
					input.txt_box_border(type='text', placeholder="Enter details" value='')
				.clearfix
mixin app_details_list_col_2(items)
	.table.new_service_table
		each item in items
			if item.margin_btm
				.row_data.make_space
					.cell_data.new_service_title=item.title
					.cell_data.new_service_txt_box
						input.txt_box_border(type='text', placeholder="Enter details" value='')
					.clearfix
			else
				.row_data
					.cell_data.new_service_title=item.title
					.cell_data.new_service_txt_box
						input.txt_box_border(type='text', placeholder="Enter details" value='')
					.clearfix