<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}
  
</head>
<body>
{% include "portal/header.html" %}
<div>
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="3"><b>&nbsp;Account Information</b></td><td class="th_head"><a href="/portal/info/account/edit/{{account.id}}/" style="color: #ffffff;">Edit Account</a></td></tr>
      <tr>
       <th>Account Name</th>
       <td>{{account.accountname}}</td>
       <th>Account No</th>
       <td>{{account.account_no}}</td>
      </tr>
      <tr>
       <th>Account Id</th>
       <td>{{account.id}}</td>
       <th>Phone</th>
       <td>{{account.phone}}</td>
      </tr>
      <tr>
       <th>Website</th>
       <td>{{account.website}}</td>
       <th>Other Phone</th>
       <td>{{account.otherphone}}</td>
      </tr>
      <tr>
       <th>SIC Code</th>
       <td>{{account.siccode}}</td>
       <th>Fax</th>
       <td>{{account.fax}}</td>
      </tr>
      <tr>
       <th>Email</th>
       <td><a href="mailto:{{account.email1}}">{{account.email1}}</a></td>
       <th>Other Email</th>
       <td><a href="mailto:{{account.email2}}">{{account.email2}}</a></td>
      </tr>
     </tbody>
    </table>
</div>
<br />
<div>
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr>	    
    	<th><a style="color:blue" href="/portal/allservice/{{account.id}}">View Services</a></th>
	<th><a style="color:blue" href="/portal/allcontact/{{account.id}}/">View Contacts</a></th>
	<th><a style="color:blue" href="/portal/newservice/{{accountid}}/">Request for a new service</a></th>
      </tr>
     </tbody>
    </table>
</div>
<br />
<!--
<div>
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="2"><b>&nbsp;Sales Orders</b></td></tr>
      <tr><th>Sales Order</th><th>Sales Order No.</th></tr>
      {% for sales in sales_orders %}
       <tr><td><a href="/portal/service/{{sales.id}}/">{{sales.subject}}</a></td><td>{{sales.salesorder_no}}</td></tr>
      {% endfor %}
     </tbody>
    </table>
</div>
<br />
-->
<a href="/portal/dashboard/{{accountid}}/">Go Back</a>
</body>
</html>

