<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Log in</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<body>
        <div style="padding:150px 0 0 450px">
	<label style:"font-size:14px"><b>{{ state }}</b></label><br /><br />
	<form action="/portal/login/" method="post">{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
		Username 
		<input style="padding:5px" type="text" name="username" value="{{ username}}" />
                <br />
		Password  &nbsp;<input style="padding:5px" type="password" name="password" value="" /><br /><br />

		<input style="padding:5px;cursor:pointer" type="submit" value="Log In" />
                <a href="/portal/password-reset/recover/">Reset Password</a>
	</form>
        </div>
</body>
</html>
