<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}

  <script type="text/javascript">

    function submitInvoice(){

    var invArr = [];
    var max_count = document.getElementById('invoiceCount').value;
    for (var i=0; i<max_count; i++){
        var inv_chk_id = 'amount_check_'+(i+1)+'_id';
        var inv_amt_id = 'desire_amount_'+(i+1)+'_id';
        if(document.getElementById(inv_chk_id).checked == true){
            invArr.push("{'inv_id':'"+document.getElementById(inv_chk_id).value+"', 'des_amt':'"+document.getElementById(inv_amt_id).value+"'}");
	}
    }
    document.getElementById('invoiceArray').value = invArr;
    document.forms[0].submit();
    }

  </script>
  
</head>
<body>
{% include "portal/header.html" %}
<div>
</div>
<br />
<div>
    <form name="payment_form" method="POST" action="/portal/payment/pre/{{accountid}}/">{% csrf_token %}
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="7"><b>&nbsp;Invoices</b></td></tr>
      <tr>
	<th>#</th>
	<th>Service ID</th>
	<th>Service Name</th>
	<th>Date</th>
	<th>Outstanding Bill</th>
	<th>Desired Amount</th>
	<th>Details</th>
      </tr>
      <input type="hidden" id="invoiceArray" name="invoiceArray" value="" />
      <input type="hidden" id="invoiceCount" name="invoiceCount" value="{{invoice|length}}" />
      {% for inv in invoice %}
       <tr>
	  <td><input type="checkbox" id="amount_check_{{forloop.counter}}_id" name="amount_check_{{forloop.counter}}" value="{{inv.id}}@@@{{inv.invoice_no}}@@@{{inv.subject}}" /></td>
	  <td>{{inv.invoice_no}}</td>
	  <td>{{inv.subject}}</td>
	  <td>{{inv.duedate}}</td>
	  <td>{{inv.balance|floatformat:3}}</td>
	  <td><input type="text" id="desire_amount_{{forloop.counter}}_id" name="desire_amount_{{forloop.counter}}" /></td>
	  <td><a target="_blank" href="/portal/invoice/{{inv.id}}/">View Details</a></td>
	</tr>
      {% endfor %}
     </tbody>
    </table>
    <div style="padding: 10px 500px;"><input type="button" onClick="javascript:submitInvoice();" value="Make Payment" /></div>
    </form>
</div>
<br />
</body>
</html>

