<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}
  
</head>
<body>
{% include "portal/header.html" %}
<div>
</div>
<br />
<div>
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="7"><b>&nbsp;Contacts</b></td></tr>
      <tr>
	<th>Name</th>
	<th>Title</th>
	<th>Telephone</th>
	<th>Mobile</th>
	<th>Email</th>
	<th>Edit</th>
	<th>Delete</th>
      </tr>
      {% for contact in contacts %}
       	<tr>
	 <td>{{contact.firstname}}&nbsp;{{contact.lastname}}</td>
	 <td>{{contact.title}}</td>
	 <td>{{contact.phone}}</td>
	 <td>{{contact.mobile}}</td>
	 <td><a href="mailto:{{contact.email}}">{{contact.email}}</a></td>
	 <td><a href="/portal/info/contact/edit/{{contact.id}}/">Edit</a></td>
	 <td><a href="#">Delete</a></td>
	</tr>
      {% endfor %}
     </tbody>
    </table>
</div>
<br />
<div style="padding:10px"><a href="/portal/info/contact/add/{{accountid}}/">Add Contact</a></div>
</body>
</html>

