<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}
  
</head>
<body>
{% include "portal/header.html" %}
<div>
	<section class="dashboard_section">
            <div class="content">
              <div class="block block2">
                <p class="welcome">Welcome John,</p>
                <p class="thank">Thank you for accessing the 2connect self service portal, where you can track and manage all of your subcribtion and payments.</p>
                <div class="dashboard_details">
                  <div class="detail acc_name"><b>Account name : </b><span>{{account.accountname}}</span></div>
                  <div class="detail contact_name">Primary contact name:<span></span></div>
                  <div class="detail status">Service status:<span>Active</span></div>
                  <div class="detail invoice">Latest invoice<span>Inv.#0123 / 1 December 2015</span></div>
                  <div class="detail payment">Latest payment<span>BHD 35,000 / 7 December 2015</span></div>
                </div>
              </div>
            </div>
          </section>
	<a href="/portal/home/{{account.id}}/">More</a>
</div>

<br />
<a href="/portal/newservice/{{account.id}}/">Request for a new service</a>
{% if user.is_staff %}
<br /><br />
<a href="/portal/home/staff/1/">Go Back</a>
{% endif %}
</body>
</html>

