<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}

</head>
<body>
{% include "portal/header.html" %}
<div>
    <form name="account_form" method="POST" action="/portal/submit/contact/{{action}}/{% if account %}{{account.id}}{% else %}{{accountid}}{% endif %}/">{% csrf_token %}
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="4"><b>&nbsp;Edit {{module|title}}</b></td></tr>
      <tr>
       <th>First Name</th>
       <td><input type="text" name="fname" value="{{account.firstname}}" /></td>
       <th>Last Name</th>
       <td><input type="text" name="lname" value="{{account.lastname}}" /></td>
      </tr>
      <tr>
       <th>Phone</th>
       <td><input type="text" name="phone" value="{{account.phone}}" /></td>
       <th>Mobile</th>
       <td><input type="text" name="mobile" value="{{account.mobile}}" /></td>
      </tr>
      <tr>
       <th>Email</th>
       <td><input type="text" name="email" value="{{account.email}}" /></td>
       <th>Fax</th>
       <td><input type="text" name="fax" value="{{account.fax}}" /></td>
      </tr>
     </tbody>
    </table>
    <div style="padding: 10px 500px;"><input type="submit" value="Submit" /></div>
    </form>
</div>
<a href="/portal/allcontact/{{accountid}}/">Go Back</a>
</body>
</html>

