<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}
  
</head>
<body>
{% include "portal/header.html" %}
<div>
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="5"><b>&nbsp;Accounts</b></td></tr>
      <tr>
       <th>Account Name</th>
       <th>Account No</th>
       <th>Email</th>
       <th>Website</th>
       <th>Phone</th>
      </tr>

      {% for acc in special_accounts %}
      <tr>
       <td style="width:40%"><a href="/portal/home/{{acc.id}}/">{{acc.accountname}}</a></td>
       <td style="width:5%">{{acc.account_no}}</td>
       <td style="width:35%"><a href="mailto:{{account.email1}}">{{acc.email1}}</a></td>
       <td style="width:10%">{{acc.website}}</td>
       <td style="width:10%">{{acc.phone}}</td>
      </tr>
      {% endfor %}

      
      {% for acc in accounts %}
      <tr>
       <td style="width:40%">{{acc.accountname}}</td>
       <td style="width:5%">{{acc.account_no}}</td>
       <td style="width:35%"><a href="mailto:{{account.email1}}">{{acc.email1}}</a></td>
       <td style="width:10%">{{acc.website}}</td>
       <td style="width:10%">{{acc.phone}}</td>
      </tr>
      {% endfor %}

     </tbody>
    </table>
</div>
</body>
</html>

