<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}
  
</head>
<body>
{% include "portal/header.html" %}
<div>
    {% if sales_order %}
    <label>{{message}}</label>
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="4"><b>&nbsp;New Sale Order Information</b></td></tr>
      <tr>
       <th>Subject</th>
       <td>{{sales_order.subject}}</td>
       <th>Sales Order No</th>
       <td>{{sales_order.salesorder_no}}</td>
      </tr>
      <tr>
       <th>SO Status</th>
       <td>{{sales_order.sostatus}}</td>
       <th>Created Time</th>
       <td>{{sales_order.createdtime}}</td>
      </tr>
      <tr>
       <th>Account Id</th>
       <td>{{sales_order.account_id}}</td>
       <th>Contact Id</th>
       <td>{{sales_order.contact_id}}</td>
      </tr>
      <tr>
       <th>Assigned</th>
       <td>{{sales_order.assigned_user_id}}</td>
       <th>Potential Id</th>
       <td>{{sales_order.potential_id}}</td>
      </tr>
     </tbody>
    </table>
    {% else %}
        <span>{{message}}</span>
    {% endif %}
           
</div>
<br />

<a href="{% if user.is_staff %}/portal/home/staff/1/{% else %}/portal/home/{{accountid}}/{% endif %}">Home</a>

</body>
</html>

