<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}
  
</head>
<body>
{% include "portal/header.html" %}
<br />
<label> Thanks for submitting your request.</a>
<br />
<br />
{% if user.is_authenticated %}
<a href="/portal/home/{{accountid}}">Home</a>
{% else %}
<a href="/portal/">Login Page</a>
{% endif %}
</body>
</html>

