{% load portal_filters %}
<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}
  
</head>
<body>
{% include "portal/header.html" %}
<div>

  <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="3"><b>&nbsp;Payment Details</b></td></tr>
      <tr>
        <th>Service ID</th>
        <th>Service Name</th>
        <th>Payment Amount</th>
      </tr>
      {% for inv in invoiceArray %}
       <tr>
          <td>{{inv.inv_id|split:"@@@"|fetch:1}}</td>
          <td>{{inv.inv_id|split:"@@@"|fetch:2}}</td>
          <td>{{inv.des_amt}}</td>
        </tr>
      {% endfor %}
     </tbody>
    </table>
    <div style="padding: 10px 500px;"><input type="button" value="Make Payment" /></div>
</div>

</body>
</html>

