<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}
  
</head>
<body>
{% include "portal/header.html" %}

<form name="new_service_form" method="POST" action="/portal/submitservice/{{accountid}}/">{% csrf_token %}
<div>
{% if accountid == 'guest' %}
<table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="4"><b>&nbsp;Add Account</b></td></tr>
      <tr>
       <th>Account Name</th>
       <td><input type="text" name="accountname" value="" /></td>
       <th>Annual Revenue</th>
       <td><input type="text" name="annual_revenue" value="" /></td>
      </tr>
      <tr>
       <th>Phone</th>
       <td><input type="text" name="phone" value="" /></td>
       <th>Other Phone</th>
       <td><input type="text" name="otherphone" value="" /></td>
      </tr>
      <tr>
       <th>Website</th>
       <td><input type="text" name="website" value="" /></td>
       <th>Fax</th>
       <td><input type="text" name="fax" value="" /></td>
      </tr>
      <tr>
       <th>Email</th>
       <td><input type="text" name="email1" value="" /></td>
       <th>Other Email</th>
       <td><input type="text" name="email2" value="" /></td>
      </tr>
     </tbody>
 </table>
{% else %}
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="4"><b>&nbsp;Account Information</b></td></tr>
      <tr>
       <th>Account Name</th>
       <td>{{account.accountname}}</td>
       <th>Account No</th>
       <td>{{account.account_no}}</td>
      </tr>
      <tr>
       <th>Account Id</th>
       <td>{{account.id}}</td>
       <th>Phone</th>
       <td>{{account.phone}}</td>
      </tr>
      <tr>
       <th>Website</th>
       <td>{{account.website}}</td>
       <th>Other Phone</th>
       <td>{{account.otherphone}}</td>
      </tr>
      <tr>
       <th>SIC Code</th>
       <td>{{account.siccode}}</td>
       <th>Fax</th>
       <td>{{account.fax}}</td>
      </tr>
      <tr>
       <th>Email</th>
       <td><a href="mailto:{{account.email1}}">{{account.email1}}</a></td>
       <th>Other Email</th>
       <td><a href="mailto:{{account.email2}}">{{account.email2}}</a></td>
      </tr>
     </tbody>
    </table>
{% endif %}
</div>
<br />
<label><b>Select your Product</b></label><br />
{% for prod in sorted_products %}
    <input type="radio" name="new_service" value="{{prod.1.recordid}}" />{{prod.1.name}}<br>
{% endfor %}
<br />
<input type="submit" value="Submit">
</form>

{% if user.is_authenticated %}
<a href="/portal/home/{{accountid}}/">Go Back</a>
{% else %}
<a href="/portal/">Go to Login Page</a>
{% endif %}
</body>
</html>

