<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}
  
</head>
<body>
{% include "portal/header.html" %}
<div>
</div>
<br />
<div>
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="3"><b>&nbsp;Services</b></td></tr>
      <tr>
	<th>Service ID</th>
	<th>Service Name</th>
	<th>Details</th>
      </tr>
      {% for sales in sales_orders %}
       <tr>
	  <td>{{sales.salesorder_no}}</td>
	  <td>{{sales.subject}}</td>
	  <td><a href="/portal/service/{{sales.id}}/">View Details</a></td>
	</tr>
      {% endfor %}
     </tbody>
    </table>
</div>
<br />
<!--
<a href="/newservice/{{account.id}}/">Request for a new service</a>
-->
{% if user.is_staff %}
<br /><br />
<a href="/portal/home/staff/1/">Go Back</a>
{% endif %}
</body>
</html>

