<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}
</head>
<body>
{% include "portal/header.html" %}

<div>
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="4"><b>&nbsp;Service Details</b></td></tr>
      <tr>
       <th>Service Name</th>
       <td>{{sale_order.subject}}</td>
       <th>Service ID</th>
       <td>{{sale_order.salesorder_no}}</td>
      </tr>
      <tr>
       <th>Start date</th>
       <td>{{sale_order.cf_966}}</td>
       <th>End date</th>
       <td></td>
      </tr>
      <tr>
       <th>Address A</th>
       <td>Flat No: {{sale_order.cf_926}}, Floor: {{sale_order.cf_924}}, Building: {{sale_order.cf_920}}, {{sale_order.cf_918}}, Road: {{sale_order.cf_916}}, {{sale_order.cf_914}}, Area: {{sale_order.cf_912}}, {{sale_order.cf_910}}</td>
       <th>Address B</th>
       <td>Flat No: {{sale_order.cf_946}}, Floor: {{sale_order.cf_944}}, Building: {{sale_order.cf_940}}, {{sale_order.cf_938}}, Road: {{sale_order.cf_936}}, {{sale_order.cf_934}}, Area: {{sale_order.cf_932}}, {{sale_order.cf_930}}</td>
      </tr>
      <tr>
       <th>Status</th>
       <td>{{sale_order.sostatus}}</td>
       <th>Account Manager</th>
       <td>{{account_manager.first_name}} {{account_manager.last_name}}</td>
      </tr>
      <tr>
       <th>Billing Contact</th>
       <td>{{bill_contact.firstname}} {{bill_contact.lastname}}{% if bill_contact %}<a style="float:right" href="/portal/info/contact/edit/{{bill_contact.id}}/?next=/portal/service/{{sale_order.id}}/">Edit</a>{% else %} <a style="float:right" href="/portal/info/contact/add/{{accountid}}/?next=/portal/service/{{sale_order.id}}/&potential={{sale_order.potential_id}}&type=bill">Add</a>{% endif %}</td>
       <th>Technical Contact</th>
       <td>{{tech_contact.firstname}} {{tech_contact.lastname}}{% if tech_contact %}<a style="float:right" href="/portal/info/contact/edit/{{tech_contact.id}}/?next=/portal/service/{{sale_order.id}}/">Edit</a>{% else %}<a style="float:right" href="/portal/info/contact/add/{{accountid}}/?next=/portal/service/{{sale_order.id}}/&potential={{sale_order.potential_id}}&type=tech">Add</a>{% endif %}</td>
      </tr>
     </tbody>
    </table>
</div>

<br />
<br />

<div>
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr>
      {% for action in service_action %}
       {% if action.active %}
           <th><a style="color:blue" href="/portal{{action.url}}">{{action.name}}</a></th>
       {% endif %}
      {% endfor %}
      </tr>
     </tbody>
    </table>
</div>
<br />
<a href="/portal/allservice/{{sale_order.account_id}}/">Go Back</a>

</body>
</html>

