<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}
  
</head>
<body>
{% include "portal/header.html" %}
<div>
</div>
<br />
<div>
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="5"><b>&nbsp;Invoice History</b></td></tr>
      <tr>
	<th>Invoice ID</th>
	<th>Service Name</th>
	<th>Date</th>
	<th>Outstanding Bill</th>
	<th>Details</th>
      </tr>
      {% for inv in invoice %}
       <tr>
	  <td>{{inv.invoice_no}}</td>
	  <td>{{inv.subject}}</td>
	  <td>{{inv.duedate}}</td>
	  <td>{{inv.balance}}</td>
	  <td><a target="_blank" href="/portal/invoice/{{inv.id}}/">View Invoice</a></td>
	</tr>
      {% endfor %}
     </tbody>
    </table>
</div>
<br />
<br />
<br />

<div>
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="5"><b>&nbsp;Payment History</b></td></tr>
      <tr>
        <th>Payment ID</th>
        <th>Invoice ID</th>
        <th>Date</th>
        <th>Amount Paid</th>
        <th>Payment Details</th>
      </tr>
      {% for txn in transaction %}
       <tr>
          <td>{{txn.id}}</td>
          <td>{{txn.txninvoiceid}}</td>
          <td>{{txn.paymentdate}}</td>
          <td>{{txn.amountpaid}}</td>
          <td>{{txn.subject}}</td>
        </tr>
      {% endfor %}
     </tbody>
    </table>
</div>

</body>
</html>

