<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}

</head>
<body>
{% include "portal/header.html" %}
<div style="color:red">

Sorry Requested record doesn't exists. !!!!!

</div>

<br />
</body>
</html>
