{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Start title block -->
    <title>{% block title %}{{action|title}} {{module|title}}{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block-->  
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->

      <div class="content-main-wrapper">
        {% block content_main %}
        <form name="account_form" method="POST" action="/portal/login/">{% csrf_token %}
            <div class="content-main">
              <div class="popup_contacts">
                  <div class="table popup">
                    <div class="popup_container">
                      {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                      {% endif %}

                      <h1>Log In</h1>
                      <div class="row_data name">
                        <div class="cell_data label">Username</div>
                        <div class="cell_data text_box">
                          <input name="username" type="text" placeholder="Enter Username" value="{{username}}" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data name">
                        <div class="cell_data label">Password</div>
                        <div class="cell_data text_box">
                          <input name="password" type="password" placeholder="Enter Password" value="" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      
                      <div class="button">
                          <span>
                              <a class="ui-button big" href="/portal/password-reset/recover/">Reset Password</a>
                              <button class="ui-button big" type="submit" value="Log In">Log In</button>
                          </span>
                          <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
               </div>
            </div>
          </form>
          {% endblock %}
      </div>

      <!-- Start quick_links block -->
      {% block quick_links %}
      {% endblock %}
      <!-- End quick_links block -->

      <!-- Start featured_list block -->
      {% block featured_list %}
      {% endblock %}
      <!-- End featured_list block -->

      <!-- Start footer_main block -->
      <!-- End footer_main block-->
    </div>
    <!-- End .master-->

    <!-- Start footer_js block -->
    <!-- End footer_js block -->
  </body>
</html>
