{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>{% block title %}2Connect Portal{% endblock %}</title>
    <!--
    <meta name="description" content="{% block description %}Welcome to 2Connect{% endblock %}">
    <meta name="keywords" content="{% block keywords %}2Connect{% endblock %}">
    -->

    {% block meta_header %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Welcome to 2Connect">
        <meta name="keywords" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=1120">
        <link rel="apple-touch-icon" href="{% static 'portal/apple-touch-icon.png' %}">
        <link rel="shortcut icon" href="{% static 'portal/favicon.ico' %}">
    {% endblock %}

    {% block header_css %}
        <!-- build:css assets/css/all.css-->
        <link rel="stylesheet" href="{% static 'portal/assets/css/normalize_custom.css' %}">
        <link rel="stylesheet" href="{% static 'portal/assets/css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'portal/assets/css/header.css' %}">
        <link rel="stylesheet" href="{% static 'portal/assets/css/footer.css' %}">
        <link rel="stylesheet" href="{% static 'portal/assets/css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'portal/assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'portal/assets/css/pikaday.css' %}">
        <link rel="stylesheet" href="{% static 'portal/assets/css/main.css' %}">
        <!-- endbuild-->
    {% endblock %}

    {% block custom_css %}
    {% endblock %}

    {% block header_js %}
        <!-- build:js assets/js/modernizr-2.6.2.min.js-->
        <script src="{% static 'portal/assets/js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <!-- endbuild-->
    {% endblock %}

  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      {% block 'header_main' %}
       <!-- Start .page-header-->
       <div class="page-header">
        <!-- Start site header-->
        <header class="header">
          <div class="header-main">
            <div class="logo">
                <a href="{% if user.is_authenticated %}/portal/dashboard/{{accountid}}/{% else %}/portal/{% endif %}">
                    <img src="{% static 'portal/assets/img/2connect_logo.svg' %}" class="svg">
                </a>
            </div>
            <a href="#" class="menu-button middle-items">
                <span class="menu-wrapper">
                    <span class="menu-global menu-top"></span>
                    <span class="menu-global menu-middle"></span>
                    <span class="menu-global menu-bottom"></span>
               </span>
            </a>
          </div>
          <div class="nav-wrapper has-underlay">
            <nav class="nav">
              {% if user.is_authenticated %}
              <ul class="main-nav">
                <!--li.active-->
                <li><a href="/portal/home/{{accountid}}/">Account Details</a>
                  <ul>
                    <li><a href="/portal/allcontact/{{accountid}}/">Contacts</a></li>
                  </ul>
                </li>
                <li><a href="/portal/allservice/{{accountid}}/">Services</a>
                  <ul>
                    <li><a href="/portal/allservice/{{accountid}}/">Service Details</a></li>
                    <li><a href="#">Request New Service</a></li>
                  </ul>
                </li>
                <li><a href="/portal/service/invoice/{{accountid}}/">Billing</a>
                  <ul>
                    <li><a href="/portal/transaction/{{accountid}}/">Transaction History</a></li>
                  </ul>
                </li>
                <li><a href="/portal/contactus/{{accountid}}/">Contact 2Connect</a></li>
              </ul>
              {% endif %}
              <ul class="secondary-nav">
                <li class="search">
                  <form id="search" action="#" method="post">
                    <div class="label">
                      <label id="search-label" for="search-terms"></label>
                    </div>
                    <div class="input">
                      <input id="search-terms" type="text" name="search-terms" placeholder="Enter search terms...">
                    </div>
                  </form>
                </li>
                <li><a href="#">Jobs</a></li>
                <li><a href="/portal/contactus/">Contact Us</a></li>
                {% if user.is_authenticated %}
                    <li class="login"><a href="/portal/logout/">Logout</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </header>
       </div>
      <!-- End .page-header-->
      {% endblock %}

      <!-- Start content main wrapper -->
      <div class="content-main-wrapper">

      {% block breadcrumb %}
      {% endblock %}

      {% block content_main %}
      {% endblock %}

      {% block content_hero_wrapper %}
      {% endblock %}
 
        <!-- Start content main -->
        <div class="content-main">
         
          {% block content_section %}
          {% endblock %}

           {% block quick_links %}
          <aside>
            <div class="quick_links">
                      <div class="quick_links_box">
                        <h2>Quick Links</h2>
                        <div class="link payment">
                            <a href="/portal/service/invoice/{{accountid}}/" class="quick_link_button">
                                <span class="quick_icon icon-payment6"></span>
                                <span class="value">Online Payment</span>
                            </a>
                        </div>
                        <div class="link support">
                            <a href="#" class="quick_link_button">
                                <span class="quick_icon icon-call36"></span>
                                <span class="value">Support</span>
                            </a>
                        </div>
                        <div class="link request">
                            <a href="/portal/newservice/{{accountid}}/" class="quick_link_button">
                                <span class="quick_icon icon-call37"></span>
                                <span class="value">Request New Service</span>
                            </a>
                        </div>
                        <div class="link contacts">
                            <a href="/portal/allcontact/{{accountid}}/" class="quick_link_button">
                                <span class="quick_icon icon-address-book3"></span>
                                <span class="value">Contacts</span>
                            </a>
                        </div>
                        <div class="link usage">
                            <a href="/portal/usage/{{accountid}}/" class="quick_link_button">
                                <span class="quick_icon icon-linegraphic9"></span>
                                <span class="value">Usage Summary</span>
                            </a>
                        </div>
                      </div>
            </div>
            {% block address %}
            {% endblock %}
          </aside>
          {% endblock %}

          <div class="clearfix"></div>
        </div>
        <!-- End main content -->

        {% block popup %}
        {% endblock %}

        {% block featured_list %}
                <div class="featured-list">
                  <ul>
                    <li><span class="icon"><img src="{% static 'portal/assets/img/placeholders/gear39.svg' %}" class="svg"></span>
                      <h2>find the right package for your business</h2>
                     <p>You are just seconds away from saving money. Make sure you get the right deal for your business</p>
                      <p><a href="#" class="ui-button medium">Help me choose</a></p>
                    </li>
                    <li><span class="icon"><img src="{% static 'portal/assets/img/placeholders/briefcase69.svg' %}" class="svg"></span>
                      <h2>find the right package for your business</h2>
                      <p>You are just seconds away from saving money. Make sure you get the right deal for your business</p>
                      <p><a href="#" class="ui-button medium">Help me choose</a></p>
                    </li>
                    <li><span class="icon"><img src="{% static 'portal/assets/img/placeholders/pencil41.svg' %}" class="svg"></span>
                      <h2>find the right package for your business</h2>
                      <p>You are just seconds away from saving money. Make sure you get the right deal for your business</p>
                      <p><a href="#" class="ui-button medium">Help me choose</a></p>
                    </li>
                  </ul>
                </div>
        {% endblock %}


      </div>
      <!-- End content main wrapper -->

      {% block footer_main %}
       <!-- Start .page-footer-->
       <div class="page-footer">
        <footer class="footer">
          <ul class="footer-main-nav">
            <li><a href="#">About us</a></li>
            <li><a href="/portal/contactus/">Contact us</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
          <div class="stay-connected">
            <h3>Stay connected</h3>
            <ul>
              <li><a href="#" class="icon-facebook-circled"></a></li>
              <li><a href="#" class="icon-linkedin-circled"></a></li>
              <li><a href="#" class="icon-instagram19"></a></li>
              <li><a href="#" class="icon-twitter-circled"></a></li>
              <li><a href="#" class="icon-youtube30"></a></li>
            </ul>
          </div>
          <div class="newsletter-form-wrapper">
            <h3>Subscribe to newsletter</h3>
            <form action="#">
              <input type="text" placeholder="Enter email address.">
              <input type="button" value="Go">
            </form>
          </div>
          <div class="copy-right">
            <p>&copy; 2015 2ConnectBahrain. All rights reserved</p>
          </div>
        </footer>
       </div>
       <!-- End .page-footer-->
      {% endblock %}
    </div>
    <!-- End .master-->

    {% block footer_js %}
    <!-- Start scripts include-->
    <!-- build:js assets/js/vendor.js-->
    <script src="{% static 'portal/assets/js/vendor/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'portal/assets/js/vendor/owl.carousel.min.js' %}"></script>
    <script src="{% static 'portal/assets/js/vendor/jquery-validate.js' %}"></script>
    <script src="{% static 'portal/assets/js/vendor/jquery-inputmask.js' %}"></script>
    <script src="{% static 'portal/assets/js/vendor/magnific-popup.js' %}"></script>
    <script src="{% static 'portal/assets/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'portal/assets/js/vendor/Chart.js' %}"></script>
    <script src="{% static 'portal/assets/js/vendor/Chart.Line.js' %}"></script>
    <script src="{% static 'portal/assets/js/vendor/moment.js' %}"></script>
    <script src="{% static 'portal/assets/js/vendor/pikaday.js' %}"></script>
    <!-- endbuild-->
    <!-- build:js assets/js/custom.js-->
    <script src="{% static 'portal/assets/js/plugins.js' %}"></script>
    <script src="{% static 'portal/assets/js/main.js' %}"></script>
    <!-- endbuild-->
    <!-- End scripts include-->
    {% endblock %}
    {% block custom_js %}
    {% endblock %}
  </body>
</html>
