{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Start title block -->
    <title>{% block title %}Contact 2Connect{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block--> 
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->

      <div class="content-main-wrapper">
        <!-- Breadcrum //Start-->
        {% block breadcrumb %}
        <div class="breadcrum-wrapper clearfix"><span class="item"><a href="#">Level1</a></span><span class="separator"></span><span class="item"><a href="#">Level2</a></span><span class="separator"></span><span class="item"><a href="#">Level3</a></span><span class="separator"></span><span class="item">Level4</span></div>
        {% endblock %}
        <!-- Breadcrum //End-->
        {% block content_main %}
        <div class="content-main clearfix">
          <div class="content">
            <h1>Contact 2Connect</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
              Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
              Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
              Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
              Praesent non nunc suscipit, faucibus magna at, sodales eros.
            </p>
          </div>
        </div>
        {% endblock %}
        <div class="content-main clearfix">
          {% block content_section %}
          <section class="dark-bg">
            <div class="content">
              <ul class="tabs">
                <li class="tab-item"><a href="#tab1">Tab 1</a></li>
                <li class="tab-item"><a href="#tab2">Tab 2</a></li>
                <li class="tab-item"><a href="#tab3">Tab 3</a></li>
                <li class="tab-item"><a href="#tab4">Tab 4</a></li>
                <li class="tab-item"><a href="#tab5">Tab 5</a></li>
              </ul>
              <div id="tab1" class="tab-content-wrapper">
                <div class="accordion-wrapper">
                  <h2 class="active"></h2>
                  <div class="accordion-content">
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
                      book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of the printing and 
                      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                      but also the Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                      industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                      make a type specimen book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of the 
                      printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                      unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five 
                      centuries, but also the  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has bee 
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
                      to make a type specimen book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of
                      the printing and typesetting industry.<br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
                      book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of the printing and 
                      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                      but also the Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                      industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                      make a type specimen book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of the 
                      printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                      unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five 
                      centuries, but also the  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has bee 
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
                      to make a type specimen book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of
                      the printing and typesetting industry.<br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
                      book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of the printing and 
                      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
                      printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                      but also the Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
                      industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                      make a type specimen book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of the 
                      printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
                      unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five 
                      centuries, but also the  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has bee 
                      the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
                      to make a type specimen book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of
                      the printing and typesetting industry.  
                    </p>
                  </div>
                </div>
              </div>
              <div id="tab2" class="tab-content-wrapper">
                <div class="accordion-wrapper">
                  <h2 class="active"></h2>
                  <div class="accordion-content">
                    <p>
                      Tab-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
                      Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
                      Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
                      Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
                      Praesent non nunc suscipit, faucibus magna at, sodales eros.
                    </p>
                  </div>
                </div>
              </div>
              <div id="tab3" class="tab-content-wrapper">
                <div class="accordion-wrapper">
                  <h2 class="active"></h2>
                  <div class="accordion-content">
                    <p>
                      Tab-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
                      Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
                      Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
                      Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
                      Praesent non nunc suscipit, faucibus magna at, sodales eros.
                    </p>
                  </div>
                </div>
              </div>
              <div id="tab4" class="tab-content-wrapper">
                <div class="accordion-wrapper">
                  <h2 class="active"></h2>
                  <div class="accordion-content">
                    <p>
                      Tab-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
                      Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
                      Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
                      Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
                      Praesent non nunc suscipit, faucibus magna at, sodales eros.
                    </p>
                  </div>
                </div>
              </div>
              <div id="tab5" class="tab-content-wrapper">
                <div class="accordion-wrapper">
                  <h2 class="active"></h2>
                  <div class="accordion-content">
                    <p>
                      Tab-5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
                      Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
                      Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
                      Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
                      Praesent non nunc suscipit, faucibus magna at, sodales eros.						
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          {% endblock %}

          <!-- Start quick_links block -->
            {% block address %}
            <div class="empty_content"></div>
            <div class="content aside_job_title">
              <p>	Lorem Ipsum is simply dummy text of the printing and typesetting industry. <a href="#">Lorem Ipsum</a>	has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
              <ul>
                <li class="icon-telephone"><a href="tel://+91234567890">+91234567890</a></li>
                <li class="icon-favourite26"><a href="http://www.test.com">test.com</a></li>
                <li class="icon-email126"><a href="mailto:xxx@ccc.com">xxx@ccc.com</a></li>
              </ul>
            </div>
            {% endblock %}
          <!-- End quick_links block -->
          <div class="clearfix"></div>
        </div>
        <!-- Start featured_block -->
        <!-- End featured_block -->
      </div>
      <!-- End content main wrapper -->
      <!-- Start footer_main block -->
      <!-- End footer_main block-->
    </div>
    <!-- End .master-->
    
    <!-- Start footer_js block -->
    <!-- End footer_js block -->
  </body>
</html>
