{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
      <!-- Start title block -->
      <title>{% block title %}Dashboard{% endblock %}</title>
      <!-- End title block -->
      <!-- Start header_css block --><!-- End header_css block -->
      <!-- Start header_js block --><!-- End header_js block-->
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->

     <!-- Start content main wrapper -->
     <div class="content-main-wrapper">
      <!-- Start content_main_wrapper block -->
      {% block content_hero_wrapper %}
        <div class="hero-wrapper">
          <div class="owl-carousel">
            <div class="item"><img src="{% static 'portal/assets/img/placeholders/home-hero.jpg' %}" alt="" class="backdrop mainimage">
              <div class="wrapper-summary middle-items">
                <div class="summary">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus viverra interdum sapien et hendrerit. Ut iaculis euismod tellus et cursus.
                    Nam semper tellus lorem, non viverra arcu bibendum et. Proin auctor varius commodo.
                    Nulla sit amet dolor at erat pretium laoreet aliquet ut risus.
                    Nam consequat malesuada turpis, eu blandit magna maximus sed.
                    Nam tempus purus sed justo malesuada, eget euismod magna consectetur.
                    Cras eget velit varius urna dignissim feugiat vitae in augue.
                  </p>
                  <div class="cta"><a href="#" class="ui-button big">Learn More</a></div>
                </div>
              </div>
            </div>
            <div class="item"><img src="{% static 'portal/assets/img/placeholders/home-hero.jpg' %}" alt="" class="backdrop mainimage">
              <div class="wrapper-summary middle-items">
                <div class="summary">
                  <h2>Tailored international telecom solutions</h2>
                  <div class="cta"><a href="#" class="ui-button big">Learn More</a><a href="#" class="ui-button big icon-phone">Call Me Back</a></div>
                </div>
              </div>
            </div>
            <div class="item"><img src="{% static 'portal/assets/img/placeholders/home-hero.jpg' %}" alt="" class="backdrop mainimage">
              <div class="wrapper-summary middle-items">
                <div class="summary">
                  <h2>Tailored international telecom solutions</h2>
                  <div class="cta"></div>
                </div>
              </div>
            </div>
            <div class="item"><img src="{% static 'portal/assets/img/placeholders/home-hero.jpg' %}" alt="" class="backdrop mainimage">
              <div class="wrapper-summary middle-items">
                <div class="summary">
                  <h2>Tailored international telecom solutions</h2>
                  <div class="cta"><a href="#" class="ui-button big">Learn More</a><a href="#" class="ui-button big icon-phone">Call Me Back</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
       {% endblock %}
       <!-- End content_hero_wrapper block -->

        <div class="content-main">
          {% block content_section %}
          <section class="dashboard_section">
            <div class="content">
              <div class="block block1">
                <p>{% now "jS F Y, h:ia \(\G\M\T O\)" %}: Service enhancements taking place across Asia</p>
              </div>
              <div class="block block2">
                <p class="welcome">Welcome {{primary_contact.firstname}},</p>
                <p class="thank">Thank you for accessing the 2connect self service portal, where you can track and manage all of your subcribtion and payments.</p>
                <div class="dashboard_details">
                  <div class="detail acc_name">Account name:<span>{{account.accountname}}</span></div>
                  <div class="detail contact_name">Primary contact name:<span>{{primary_contact.firstname}} {{primary_contact.lastname}}</span></div>
                  <div class="detail status">Service status:<span>Active</span></div>
                  <div class="detail invoice">Latest invoice<span>Inv.#0123 / 1 December 2015</span></div>
                  <div class="detail payment">Latest payment<span>BHD 35,000 / 7 December 2015</span></div>
                </div>
              </div>
            </div>
          </section>
          {% endblock %}

           <!-- Start quick_links block -->
           <!-- End quick_links block -->

          <div class="clearfix"></div>
        </div>
        <!-- End content main -->

	<!-- Start featured_block -->
        <!-- End featured_block -->
      </div>
      <!-- End content main wrapper -->

      <!-- Start footer_main block -->
      <!-- End footer_main block-->
    </div>
    <!-- End .master-->

    <!-- Start footer_js block -->
    <!-- End footer_js block -->
  </body>
</html>
