<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}

</head>
<body>
{% include "portal/header.html" %}
<div>
    <form name="account_form" method="POST" action="/portal/submit/account/{{action}}/{{account.id}}/">{% csrf_token %}
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="4"><b>&nbsp;Edit Account</b></td></tr>
      <tr>
       <th>Account Name</th>
       <td>{{account.accountname}}</td>
       <th>Account No</th>
       <td>{{account.account_no}}</td>
      </tr>
      <tr>
       <th>Phone</th>
       <td><input type="text" name="phone" value="{{account.phone}}" /></td>
       <th>Other Phone</th>
       <td><input type="text" name="otherphone" value="{{account.otherphone}}" /></td>
      </tr>
      <tr>
       <th>Website</th>
       <td><input type="text" name="website" value="{{account.website}}" /></td>
       <th>Fax</th>
       <td><input type="text" name="fax" value="{{account.fax}}" /></td>
      </tr>
      <tr>
       <th>Email</th>
       <td><a href="mailto:{{account.email1}}">{{account.email1}}</a></td>
       <th>Other Email</th>
       <td><input type="text" name="email2" value="{{account.email2}}" /></td>
      </tr>
     </tbody>
    </table>
    <div style="padding: 10px 500px;"><input type="submit" value="Submit" /></div>
    </form>
</div>
<a href="/portal/home/{{account.id}}/">Go Back</a>
</body>
</html>

