{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Start title block -->
    <title>{% block title %}{{action|title}} {{module|title}}{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block-->  
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->

      <div class="content-main-wrapper">
          {% block content_main %}
          <form name="account_form" method="POST" action="/portal/submit/contact/{{action}}/{% if account %}{{account.id}}{% else %}{{accountid}}{% endif %}/">{% csrf_token %}
          <div class="content-main">
              <div class="popup_contacts">
                  <div class="table popup">
                    <div class="popup_container">
                      <h1>{{action|title}} {{module}}</h1>
                      <div class="row_data name">
                        <div class="cell_data label">First name</div>
                        <div class="cell_data text_box">
                          <input name="fname" type="text" placeholder="Enter details" value="{{account.firstname}}" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data name">
                        <div class="cell_data label">Last name</div>
                        <div class="cell_data text_box">
                          <input name="lname" type="text" placeholder="Enter details" value="{{account.lastname}}" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data title">
                        <div class="cell_data label">Title</div>
                        <div class="cell_data text_box">
                          <input name="title" type="text" placeholder="Enter details" value="{{account.title}}" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data address">
                        <div class="cell_data label">Address</div>
                        <div class="cell_data text_box">
                          <input name="address" type="text" placeholder="Enter details" value="{{account.mailingstreet}}" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data po_box">
                        <div class="cell_data label">PO Box</div>
                        <div class="cell_data text_box">
                          <input name="pobox" type="text" placeholder="Enter details" value="{{account.mailingpobox}}" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data telephone">
                        <div class="cell_data label">Telephone</div>
                        <div class="cell_data text_box">
                          <input name="phone" type="text" placeholder="Enter details" value="{{account.phone}}" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data mobile">
                        <div class="cell_data label">Mobile</div>
                        <div class="cell_data text_box">
                          <input name="mobile" type="text" placeholder="Enter details" value="{{account.mobile}}" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data fax">
                        <div class="cell_data label">Fax</div>
                        <div class="cell_data text_box">
                          <input name="fax" type="text" placeholder="Enter details" value="{{account.fax}}" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="row_data email">
                        <div class="cell_data label">Email</div>
                        <div class="cell_data text_box">
                          <input name="email" type="text" placeholder="Enter details" value="{{account.email}}" class="txt_box_border">
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="button">
                          <span>
                              <button class="ui-button big" type="submit" value="Submit">Save</button>
                              <!--<a href="#" class="ui-button big">Save</a>-->
                          </span>
                          <div class="clearfix"></div>
                      </div>
                      <div class="message">
                        <p>
                          Thank you, infromation has been updated successfully.
                        </p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          </form>
          {% endblock %}
      </div>

      <!-- Start quick_links block -->
      {% block quick_links %}
      {% endblock %}
      <!-- End quick_links block -->

      <!-- Start featured_list block -->
      {% block featured_list %}
      {% endblock %}
      <!-- End featured_list block -->

      <!-- Start footer_main block -->
      <!-- End footer_main block-->
    </div>
    <!-- End .master-->

    <!-- Start footer_js block -->
    <!-- End footer_js block -->
  </body>
</html>
