<div>
	<h1 style="width:50%">Customer Portal</h1>
	<span style="float:right">
	<a class="th_head" style="" href="/portal/dashboard/{{accountid}}/">Home</a>
	<a class="th_head" style="" href="/portal/home/{{accountid}}/">Account Details</a>
	<a class="th_head" style="" href="/portal/allservice/{{accountid}}/">Services</a>
	<a class="th_head" style="" href="/portal/service/invoice/{{accountid}}/">Billing</a>
	<a class="th_head" style="" href="/portal/transaction/{{accountid}}/">Transaction History</a>
	{% if user.is_authenticated %}
		<a class="th_head" style="" href="/portal/logout/">Logout</a>
	{% endif %}
	</span>
</div>

<br/>
<br/>

