{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Start title block -->
    <title>{% block title %}{% if errorText %}{{errorText}}{% else %}{{title}}{% endif %}{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block--> 
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->
     
      <div class="content-main-wrapper">
        {% block content_main %}
        {% endblock %}
        <div class="content-main">
          {% block content_section %}
           <section class="dashboard_section">
            <div class="content">
              <div class="block block1">
                <p><strong>{% now "jS F Y, h:ia \(\G\M\T O\)" %}: Payment Status</strong></p>
              </div>
              <div class="block block2">
                <p class="thank">Thank you</p>
                <div class="dashboard_details">
                  <div class="detail invoice">Order Reference:<span>{{orderInfo}}</span></div>
                  <div class="detail acc_name">Response Message:<span>{{message}}</span></div>
                  <div class="detail contact_name">Response Description:<span>{{responseDesc}}</span></div>
                  <div class="detail status">Status Description:<span>{{statusDesc}}</span></div>
                </div>
              </div>
            </div>
           </section>
          {% endblock %}
          <!-- Start quick_links block -->
          <!-- End quick_links block -->
          <div class="clearfix"></div>
        </div>
        <!-- Start featured_list block -->
        {% block featured_list %}
        {% endblock %}
        <!-- End featured_list block -->
      </div>
      <!-- End content main wrapper -->
      <!-- Start footer_main block -->
      <!-- End footer_main block-->
    </div>
    <!-- End .master-->

    <!-- Start footer_js block -->
    <!-- End footer_js block -->
  </body>
</html>
