{% extends 'portal/base.html' %}
{% load staticfiles %}
{% load portal_filters %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Start title block -->
    <title>{% block title %}Payment Confirmation{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block--> 
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->
     
      <div class="content-main-wrapper">
        {% block content_main %}
        <div class="content-main">
          <div class="content">
            <h1>Confirm the Payment</h1>
            <p>
                Please confirm the selected payment
            </p>
          </div>
        </div>
        {% endblock %}
        <div class="content-main">
          {% block content_section %}
          <section class="acc_section">
            <div class="content">
	      <div class="table service_table">
		<div class="row_head">
		  <div class="cell_head service_id">Service ID</div>
		  <div class="cell_head service_name">Service Name</div>
		  <div class="cell_head view_edit">Payment ID</div>
		</div>
		{% for inv in invoiceArray %}
		<div class="row_data">
		  <div class="cell_data service_id">{{inv.inv_id|split:"@@@"|fetch:1}}</div>
		  <div class="cell_data service_name">{{inv.inv_id|split:"@@@"|fetch:2}}</div>
		  <div class="cell_data view_edit">{{inv.des_amt}}</div>
		  <div class="clearfix"></div>
		</div>
		{% endfor %}
	      </div>
              <form name="payment_gateway_form" method="POST" action="/portal/paymentsubmit/{{accountid}}/">{% csrf_token %}
	        <input type="hidden" name="Title" value="ASP VPC 3-Party">
		<input type="hidden" name="virtualPaymentClientURL" size="63" value="https://migs.mastercard.com.au/vpcpay" maxlength="250">
		<input type="hidden" name="vpc_Version" value="1" size="20" maxlength="8">
		<input type="hidden" name="vpc_Command" value="pay" size="20" maxlength="16">
		<input type="hidden" name="vpc_AccessCode" value="91193AFF" size="20" maxlength="8"><!--Add the secure code of the Merchant-Done by Credimax"-->
		<input type="hidden" name="vpc_MerchTxnRef" value="2CONNORDERINV7-1" size="20" maxlength="40">     <!--Trx Refrence"-->
		<input type="hidden" name="vpc_Merchant" value="E05061900" size="20" maxlength="16">  <!--Merchant Name-->
		<input type="hidden" name="vpc_OrderInfo" value="2CONNORDERINV7" size="20" maxlength="34">  <!--Order info for the item will be sent-->
		<input type="hidden" name="vpc_Amount" value="10" size="20" maxlength="10"><!--Amount of the payment"-->
		<input type="hidden" name="vpc_Locale" value="en" size="20" maxlength="5">
	        <input type="hidden" name="vpc_ReturnURL" size="63" value="http://192.168.2.95:8001/portal/paymentcallback/{{accountid}}/" maxlength="250">
                <button style="align:center" class="ui-button big" type="submit" value="Make Payment">Make Payment</button>
	      </form>
            </div>
          </section>
          {% endblock %}
          <!-- Start quick_links block -->
          {% block quick_links %}
          {% endblock %}
          <!-- End quick_links block -->
          <div class="clearfix"></div>
        </div>
        <!-- Start featured_list block -->
        {% block featured_list %}
        {% endblock %}
        <!-- End featured_list block -->
      </div>
      <!-- End content main wrapper -->
      <!-- Start footer_main block -->
      <!-- End footer_main block-->
    </div>
    <!-- End .master-->

    <!-- Start footer_js block -->
    <!-- End footer_js block -->
  </body>
</html>
