<html>
<head>
   <meta charset="utf-8">

  <title>Account Information</title>
  <meta name="description" content="Accounts">
  <meta name="author" content="SitePoint">
  {% include "portal/table_style.html" %}
  
</head>
<body>
{% include "portal/header.html" %}
<div>
    {% if action = 'upgrade' or action = 'downgrade' %}
    <table class="reference" style="width: 100%;">
     <tbody>
      <tr><td class="th_head" colspan="4">Current product - <b>{{current_product.name}}</b>. Click on any products to {{action}}</td></tr>
      <tr><th>Name</th><th>Number</th><th>Family</th><th>Unit Price</th></tr>
      {% for prod in sorted_products %}
       <tr>
         <td width="40%">{% if action == 'upgrade' %}{% if prod.1.order > current_product.order %}<a href="/portal/service/{{action}}/{{orderid}}/{{prod.1.recordid}}/">{{prod.1.name}}</a>{% else %} {{prod.1.name}}{% endif %}{% else %} {% if prod.1.order < current_product.order %}<a href="/portal/service/{{action}}/{{orderid}}/{{prod.1.recordid}}/">{{prod.1.name}}</a>{% else %} {{prod.1.name}}{% endif %}{% endif %}</td>
         <td width="25%">{{prod.1.number}}</td>
         <td width="25%">{{prod.1.family}}</td>
         <td width="10%">{{prod.1.unit_price}}</td>
       </tr>
      {% endfor %}
     </tbody>
    </table>
    {% elif action == 'quota' %}
        <label><b>Select your quota to topup</b></label>
        <div style="padding:15px" id="quota_div">
        <form name="quota_form" method="POST" action="/portal/service/{{action}}/{{orderid}}/{{current_product.recordid}}/">{% csrf_token %}
         {% for k,v in quota_options.items %}
          <input type="radio" name="quota" value="{{v}}">{{k}}<br>
         {% endfor %}
         <input type="submit" value="Submit">
        </form>
        </div>
    {% else %}
      <!--<span><a href="/portal/service/{{action}}/{{orderid}}/{{current_product.recordid}}/">Click Here</a> to confirm <b>{{action_name}}</b> for the Batelco Id <b>{{sale_order.cf_725}}</b></span>-->
      <span><b>{{action_name}}</b></span>
    {% endif %}
    <br />
    <br />
    <a href="/portal/service/{{orderid}}/">Go Back</a>
</div>

</body>
</html>

