{% extends 'portal/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <!-- Start title block -->
    <title>{% block title %}Services{% endblock %}</title>
    <!-- End title block -->
    <!-- Start header_css block --><!-- End header_css block -->
    <!-- Start header_js block --><!-- End header_js block--> 
  </head>
  <body>
    <!-- Start .master-->
    <div class="master-wrapper">
      <!-- Start header_main block-->
      <!-- End header_main block-->
     
      <div class="content-main-wrapper">
        <!-- Breadcrum //Start-->
        {% block breadcrumb %}
        <div class="breadcrum-wrapper clearfix"><span class="item"></span><a href="#">Level1</a><span class="separator"></span><span class="item"></span><a href="#">Level2</a><span class="separator"></span><span class="item"></span><a href="#">Level3</a><span class="separator"></span><span class="item">Level4</span></div>
        {% endblock %}
        {% block content_main %}
        <div class="content-main">
          <div class="content">
            <h1>Services</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
              Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
              Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
              Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
            </p>
          </div>
        </div>
        {% endblock %}
        <div class="content-main">
          {% block content_section %}
          <section class="acc_section">
            <div class="content">
                      <div class="table service_table">
                        <div class="row_head">
                          <div class="cell_head service_id">Service ID</div>
                          <div class="cell_head service_name">Service Name</div>
                          <div class="cell_head view_edit">Action</div>
                        </div>
                        {% for sales in sales_orders %}
                        <div class="row_data">
                          <div class="cell_data service_id">{{sales.salesorder_no}}</div>
                          <div class="cell_data service_name">{{sales.subject}}</div>
                          <div class="cell_data view_edit"><a href="/portal/service/{{sales.id}}/" class="view_detail">View Details / Edit</a></div>
                          <div class="clearfix"></div>
                        </div>
                        {% endfor %}
                      </div>
                      <div class="submit_link service_link"><a href="#">Add new service</a></div>
            </div>
          </section>
          {% endblock %}
          <!-- Start quick_links block -->
          <!-- End quick_links block -->
          <div class="clearfix"></div>
        </div>
        <!-- Start featured_block -->
        <!-- End featured_block -->
      </div>
      <!-- End content main wrapper -->
      <!-- Start footer_main block -->
      <!-- End footer_main block-->
    </div>
    <!-- End .master-->

    <!-- Start footer_js block -->
    <!-- End footer_js block -->
  </body>
</html>
