extends ../layout/main

append config
    - var Page = {title:"Welcome to 2Connect",type:"home"}
    - var Meta = {description:"Welcome to 2Connect",keywords:""}
    - var Footer = {heading:"2Connect.net"}
    - var Modules = {imagePodNavHeading: true}
    - var EntityCarousel = {mapLink: true}
block contentInner
    .hero-wrapper
        .owl-carousel
            .item
                img.backdrop.mainimage(src="assets/img/placeholders/home-hero.jpg", alt="")
                .wrapper-summary.middle-items
                    .summary
                        h2 Tailored international telecom solutions
                        .cta
                            a.ui-button.big(href="#") Learn More
            .item
                img.backdrop.mainimage(src="assets/img/placeholders/home-hero.jpg", alt="")
                .wrapper-summary.middle-items
                    .summary
                        h2 Tailored international telecom solutions
                        .cta
                            a.ui-button.big(href="#") Learn More
                            a.ui-button.big.icon-phone(href="#") Call Me Back
            .item
                img.backdrop.mainimage(src="assets/img/placeholders/home-hero.jpg", alt="")
                .wrapper-summary.middle-items
                    .summary
                        h2 Tailored international telecom solutions
                        .cta
            .item
                img.backdrop.mainimage(src="assets/img/placeholders/home-hero.jpg", alt="")
                .wrapper-summary.middle-items
                    .summary
                        h2 Tailored international telecom solutions
                        .cta
                            a.ui-button.big(href="#") Learn More
                            a.ui-button.big.icon-phone(href="#") Call Me Back

    // This is a sample content holder
    .content-wide-wrapper
        //Start content here




