extends ../layout/main

append config
	- var Page = {title:"Account Details",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	div.content-main
		.content
			h1 Account Details
			p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
	div.content-main
		section.acc_section
			.content
				.account-field
					+acc_tbl([
						{'title': 'Client Name', 'txt_box': '', 'btn':'Edit'	},
						{'title': 'Address', 'txt_box': '', 'btn':'Edit'	},
						{'title': 'PO Box', 'txt_box': '', 'btn':'Edit'	},
						{'title': 'Email', 'txt_box': '', 'btn':'Edit'	},
						{'title': 'Contact number', 'txt_box': '', 'btn':'Edit'	},
						{'title': 'Contact Name', 'txt_box': '', 'btn':'Edit'	}
						])

						
		aside
			.quick_links
				+quick_links_box()