extends ../layout/main

append config
	- var Page = {title:"Billing",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	.content-main
		.content
			h1 Billing
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
				| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
				| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
				| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
				| Praesent non nunc suscipit, faucibus magna at, sodales eros.
		+bill_table([
				{ 'id':'XX-01234-YY', 'name':'2Connect Service Name', 'date':'01/01/2015', 'os_bill':'BHD 5,520', 'amount':800 },
				{ 'id':'XX-01234-YY', 'name':'2Connect Service Name', 'date':'01/01/2015', 'os_bill':'BHD 5,520', 'amount':800 },
				{ 'id':'XX-01234-YY', 'name':'2Connect Service Name', 'date':'01/01/2015', 'os_bill':'BHD 5,520', 'amount':800 },
				{ 'id':'XX-01234-YY', 'name':'2Connect Service Name', 'date':'01/01/2015', 'os_bill':'BHD 5,520', 'amount':800 }
			])

	+featured-list([
				{'icon_name':'gear39.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
				{'icon_name':'briefcase69.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
				{'icon_name':'pencil41.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'}
			])
			
	#billing-popup.popup_billing.white-popup.mfp-hide
		+popup_billing([
				{ 'id':'XX-01234-YY', 'os_bill':'BHD 341' },
				{ 'id':'XX-01234-YY', 'os_bill':'BHD 341' },
				{ 'id':'XX-01234-YY', 'os_bill':'BHD 341' },
				{ 'id':'XX-01234-YY', 'os_bill':'BHD 341' },
				{ 'id':'XX-01234-YY', 'os_bill':'BHD 341' }
			])
