extends ../layout/main

append config
	- var Page = {title:"Welcome to 2Connect",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}
	- var Page = {title:"Job Title"}

block contentInner
	// Breadcrum //Start
	.breadcrum-wrapper.clearfix
		span.item
			a(href='#') Level1
		span.separator
		span.item
			a(href='#') Level2
		span.separator
		span.item
			a(href='#') Level3
		span.separator
		span.item Level4
	// Breadcrum //End			
	.content-main.clearfix
		.content
			h1 Contact 2Connect
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
				| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
				| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
				| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
				| Praesent non nunc suscipit, faucibus magna at, sodales eros.
	.content-main.clearfix
		section.dark-bg
			.content
				ul.tabs
					li.tab-item
						a(href='#tab1') Tab 1
					li.tab-item
						a(href='#tab2') Tab 2
					li.tab-item
						a(href='#tab3') Tab 3
					li.tab-item
						a(href='#tab4') Tab 4
					li.tab-item
						a(href='#tab5') Tab 5		
				#tab1.tab-content-wrapper
					.accordion-wrapper
						h2.active
						.accordion-content
							p
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
								| dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
								| book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of the printing and 
								| typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
								| printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
								| but also the Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
								| industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
								| make a type specimen book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of the 
								| printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
								| unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five 
								| centuries, but also the  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has bee 
								| the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
								| to make a type specimen book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of
								| the printing and typesetting industry.
								br
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
								| dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
								| book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of the printing and 
								| typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
								| printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
								| but also the Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
								| industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
								| make a type specimen book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of the 
								| printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
								| unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five 
								| centuries, but also the  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has bee 
								| the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
								| to make a type specimen book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of
								| the printing and typesetting industry.
								br
								| Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
								| dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
								| book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of the printing and 
								| typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
								| printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
								| but also the Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
								| industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
								| make a type specimen book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of the 
								| printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an 
								| unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five 
								| centuries, but also the  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has bee 
								| the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it 
								| to make a type specimen book. It has survived not only five centuries, but also the Lorem Ipsum is simply dummy text of
								| the printing and typesetting industry.  
				#tab2.tab-content-wrapper
					.accordion-wrapper
						h2.active
						.accordion-content
							p
								| Tab-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
								| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
								| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
								| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
								| Praesent non nunc suscipit, faucibus magna at, sodales eros.
				#tab3.tab-content-wrapper
					.accordion-wrapper
						h2.active
						.accordion-content
							p
								| Tab-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
								| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
								| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
								| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
								| Praesent non nunc suscipit, faucibus magna at, sodales eros.
				#tab4.tab-content-wrapper
					.accordion-wrapper
						h2.active
						.accordion-content
							p
								| Tab-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
								| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
								| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
								| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
								| Praesent non nunc suscipit, faucibus magna at, sodales eros.
				#tab5.tab-content-wrapper
					.accordion-wrapper
						h2.active
						.accordion-content
							p
								| Tab-5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
								| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
								| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
								| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
								| Praesent non nunc suscipit, faucibus magna at, sodales eros.						
		aside
			.quick_links
				+quick_links_box()
			.empty_content
			.content.aside_job_title
				p
					|	Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					a(href='#') Lorem Ipsum
					|	has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
				ul
					li.icon-telephone
						a(href='tel://+91234567890') +91234567890
					li.icon-favourite26
						a(href='http://www.test.com') test.com
					li.icon-email126
						a(href='mailto:xxx@ccc.com') xxx@ccc.com
		.clearfix
	+featured-list([
			{'icon_name':'gear39.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
			{'icon_name':'briefcase69.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
			{'icon_name':'pencil41.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'}
		])