extends ../layout/main

append config
	- var Page = {title:"Contacts",type:"home"}
	- var Meta = {description:"Contacts",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	.contacts_page
		.content-main
			.content
				h1 Contacts
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		.content-main
			section.acc_section
				.content
					+contacts_tbl([
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'},
						{'name':'Joe Smith', 'title': 'Mechanical Eng', 'telephone': '1234567890', 'mobile':'1234567890', 'email':'Joe@2Connect.com'}
						])

			aside
				.quick_links
					+quick_links_box()

	#contacts-popup.popup_contacts.white-popup.mfp-hide
		+popup_contacts([
			{'class':'name', 'label':'Contact name', 'value':''},
			{'class':'title', 'label':'Title', 'value':''},
			{'class':'address', 'label':'Address', 'value':''},
			{'class':'po_box', 'label':'PO Box', 'value':''},
			{'class':'telephone', 'label':'Telephone', 'value':''},
			{'class':'mobile', 'label':'Mobile', 'value':''},
			{'class':'fax', 'label':'Fax', 'value':''},
			{'class':'email', 'label':'Email', 'value':''}
		])

