extends ../layout/main

append config
	- var Page = {title:"Dashboard",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	.hero-wrapper
		.owl-carousel
			.item
				img.backdrop.mainimage(src='assets/img/placeholders/home-hero.jpg', alt='')
				.wrapper-summary.middle-items
					.summary
						p 
							|Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							|Phasellus viverra interdum sapien et hendrerit. Ut iaculis euismod tellus et cursus. 
							|Nam semper tellus lorem, non viverra arcu bibendum et. Proin auctor varius commodo. 
							|Nulla sit amet dolor at erat pretium laoreet aliquet ut risus. 
							|Nam consequat malesuada turpis, eu blandit magna maximus sed. 
							|Nam tempus purus sed justo malesuada, eget euismod magna consectetur. 
							|Cras eget velit varius urna dignissim feugiat vitae in augue.
						.cta
							a.ui-button.big(href='#') Learn More
			.item
				img.backdrop.mainimage(src='assets/img/placeholders/home-hero.jpg', alt='')
				.wrapper-summary.middle-items
					.summary
						h2 Tailored international telecom solutions
						.cta
							a.ui-button.big(href='#') Learn More
							a.ui-button.big.icon-phone(href='#') Call Me Back
			.item
				img.backdrop.mainimage(src='assets/img/placeholders/home-hero.jpg', alt='')
				.wrapper-summary.middle-items
					.summary
						h2 Tailored international telecom solutions
						.cta
			.item
				img.backdrop.mainimage(src='assets/img/placeholders/home-hero.jpg', alt='')
				.wrapper-summary.middle-items
					.summary
						h2 Tailored international telecom solutions
						.cta
							a.ui-button.big(href='#') Learn More
							a.ui-button.big.icon-phone(href='#') Call Me Back

	.content-main
		section.dashboard_section
			.content
				.block.block1
					p
						| 20 December 2015, 10:00am (GMT +3): Service enhancements taking place across Asia

				.block.block2
					p.welcome Welcome John,
					p.thank
						| Thank you for accessing the 2connect self service portal, where you can track and manage all of your subcribtion and payments.
					.dashboard_details
						.detail.acc_name Account name:
							span Company XYZ
						.detail.contact_name Primary contact name:
							span John Smith
						.detail.status Service status:
							span Active
						.detail.invoice Latest invoice
							span Inv.#0123 / 1 December 2015
						.detail.payment Latest payment
							span BHD 35,000 / 7 December 2015

		aside
			.quick_links
				+quick_links_box()
		.clearfix

	+featured-list([
			{'icon_name':'gear39.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
			{'icon_name':'briefcase69.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
			{'icon_name':'pencil41.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'}
		])
