extends ../layout/main

append config
    - var Page = {title:"Index",type:"home"}
    - var Meta = {description:"Welcome to 2Connect",keywords:""}
    - var Footer = {heading:"2Connect.net"}
    - var Modules = {imagePodNavHeading: true}
    - var EntityCarousel = {mapLink: true}
block contentInner

    div(style="max-width:500px; margin:30px auto; padding:0 20px; box-sizing:border-box;")
        h1 2Connect HTML Templates

        ol(style="margin-left:30px; font-size:2rem;")
            li(style="margin-top:15px;")
                a(href="account_details.html", style="text-decoration:none") Account Details
            li(style="margin-top:15px;")
                a(href="billing.html", style="text-decoration:none") Billing
            li(style="margin-top:15px;")
                a(href="contact2Connect.html", style="text-decoration:none") Contact 2connect
            li(style="margin-top:15px;")
                a(href="contacts.html", style="text-decoration:none") Contacts
            li(style="margin-top:15px;")
                a(href="dashboard.html", style="text-decoration:none") Dashboard
            li(style="margin-top:15px;")
                a(href="service_details.html", style="text-decoration:none") Service Details
            li(style="margin-top:15px;")
                a(href="services.html", style="text-decoration:none") Services
            li(style="margin-top:15px;")
                a(href="transaction_history.html", style="text-decoration:none") Transaction History
            li(style="margin-top:15px;")
                a(href="usage_summary.html", style="text-decoration:none") Usage Summary
            li(style="margin-top:15px;")
                a(href="req_new_service.html", style="text-decoration:none") Request New Service

