extends ../layout/main

append config
	- var Page = {title:"Request Proposal",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	.content-main
		.content
			h1 Request Proposal for New Service
			p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
	.content-main.app_details
		.app_details_list_1
			h1.main_head Application Details
			.list_col_1
				+app_details_list_col_1([
						{'title': 'Company Name*', 'txt_box': 'Some text'},
						{'title': 'P.O. Box*', 'txt_box': 'Some text'},
						{'title': 'Fax*', 'txt_box': 'Some text'},
						{'title': 'Website*', 'txt_box': 'Some text'},
						{'title': 'Website*', 'txt_box': 'Some text'},
						{'title': 'Mobile*', 'txt_box': 'Some text'},
						{'title': 'Email*', 'txt_box': 'Some text'},
						{'title': 'Email*', 'txt_box': 'Some text'},
						{'title': 'Mobile*', 'txt_box': 'Some text'},
						{'title': 'Contact name*', 'txt_box': 'Some text'}
						])
			.list_col_2
				+app_details_list_col_2([		
						{'title': 'Country*', 'txt_box': 'Some text'},
						{'title': 'Building*', 'txt_box': 'Some text'},
						{'title': 'Block*', 'txt_box': 'Some text', 'margin_btm':'yes'},
						{'title': 'Telephone*', 'txt_box': 'Some text'},
						{'title': 'Fax*', 'txt_box': 'Some text', 'margin_btm':'yes'},
						{'title': 'Telephone*', 'txt_box': 'Some text'},
						{'title': 'Fax*', 'txt_box': 'Some text'}
						])
			.clearfix
	
		.app_details_list_2.add_block_margin
			h1.main_head Requested Service
			.select_requested_service
				.option
					input#radio1(type='radio', name='internet_service', value='Internet' checked)
					span.icon-radio51
					label Internet
				.option
					input#radio2(type='radio', name='data_service', value='Data')
					span.icon-circle6
					label Data
				.option
					input#radio3(type='radio', name='voice_service', value='Voice')
					span.icon-circle6
					label Voice
				.option
					input#radio4(type='radio', name='data_center', value='Data Center')
					span.icon-circle6
					label Data Center
				.clearfix

		.app_details_list_3.add_block_margin
			h1.main_head Type of internet Service
			.type_of_internet_service#internet_service1
				.option
					input#radio1(type='radio', name='dedicated_internet_service', value='Dedicated Internet Service' checked)
					span.icon-radio51
					label Dedicated Internet Service
				.option
					input#radio2(type='radio', name='broadband_internet_service', value='Broadband Internet Service')
					span.icon-circle6
					label Broadband Internet Service
				.clearfix

		.app_details_list_4.add_block_margin
			h1.main_head Dedicated Internet Connection Speed
			.connection_speed
				select.speed_selection.rm_select.cust_select
					option(value='option-1') Lorem Ipsum
					option(value='option-2') Lorem Ipsum
					option(value='option-3') Lorem Ipsum
					option(value='option-4') Lorem Ipsum

		.app_details_list_5
			h1.main_head Site Address
			.list_col_1
				+app_details_list_col_1([
						{'title': 'Site Name*', 'txt_box': 'Some text'},
						{'title': 'Flat*', 'txt_box': 'Some text'},
						{'title': 'Road / Avenue*', 'txt_box': 'Some text'},
						{'title': 'City*', 'txt_box*': 'Some text'}
					])

			.list_col_2
				+app_details_list_col_2([
						{'title': 'Country*', 'txt_box': 'Some text'},
						{'title': 'Building*', 'txt_box': 'Some text'},
						{'title': 'Block*', 'txt_box': 'Some text'}
					])
			.clearfix
			.list_5_txt_area.new_service_table
				.row_data
					.cell_data.new_service_title Remarks
					.cell_data.new_service_txt_box
						textarea.txt_box_border(name='remarks', placeholder="Enter details" value='' rows="6" cols="108")
					.clearfix

		.app_details_list_6.add_block_margin
			h1.main_head Type of internet Service
			.type_of_internet_service#internet_service2
				.option
					input#radio1(type='radio', name='dedicated_internet_service', value='Dedicated Internet Service' checked)
					span.icon-radio51
					label Dedicated Internet Service
				.option
					input#radio2(type='radio', name='broadband_internet_service', value='Broadband Internet Service')
					span.icon-circle6
					label Broadband Internet Service
				.clearfix

			.list_col_1
				+app_details_list_col_1([
						{'title': 'Contact Name*', 'txt_box': 'Some text'},
						{'title': 'Mobile*', 'txt_box': 'Some text'},
						{'title': 'Email*', 'txt_box': 'Some text'}
					])

			.list_col_2
				+app_details_list_col_2([
						{'title': 'Telephone*', 'txt_box': 'Some text'},
						{'title': 'Fax*', 'txt_box': 'Some text'}
					])
			.clearfix

		.app_details_list_7.add_block_margin
			h1.main_head Additional Inforamtion / Comments
			textarea.add_comts.txt_box_border(name='remarks', placeholder="Enter details" value='' rows="6" cols="113")
		
		.app_details_list_8.add_block_margin
			fieldset
				.form-field.file
					label.field-container(for='resume')
						.ui-file.file-upload.icon-upload
							p
								span.title Upload your CV
								span.desc Please upload only doc, docx or pdf files.
								span.note Maximum file size 2MB
							p.button
								span.ui-button-secondary Browse
							input#resume.wpcf7-form-control.wpcf7-file(type='file', name='resume', value='1', size='40', aria-invalid='false')

		.app_details_list_9
			//.captcha
			.final_button
				.reset.button
					.ui-button-secondary Reset
				.submit.button
					.ui-button-secondary Submit Application
			.clearfix

	p.bottom_text
		| Thank you.Your request for the proposal has been sucessfully submited.
		br
		| One our commercial representative will contact you within two business days. Your refereneces number is 1234
