extends ../layout/main

append config
	- var Page = {title:"Service Details",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	.content-main
		.content
			h1 Service Details
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
				| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
				| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
				| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
				| Praesent non nunc suscipit, faucibus magna at, sodales eros.

		.sd_table
			form
				.first_half
					+service_details_table1([
							{ 'title':'Service ID', 'value':'' },
							{ 'title':'Service name', 'value':'' },
							{ 'title':'Address A' , 'value':''},
							{ 'title':'Address B' , 'value':''},
							{ 'title':'Start date', 'value':'' },
							{ 'title':'End date', 'value':'' },
							{ 'title':'Status', 'value':'' },
							{ 'title':'Billing cycle', 'value':'' },
							{ 'title':'Latest invoice amount' , 'value':''},
							{ 'title':'Latest invoice status', 'value':'' },
							{ 'title':'Account Manager', 'value':'' },
						])

				.second_half
					.account-field
						+acc_tbl([
							{'title': 'Technical contact', 'txt_box': '', 'btn':'Edit'	},
							{'title': 'Billing contact', 'txt_box': '', 'btn':'Edit'	}
						])
				.clearfix


		.div_9.box-shadow-bottom
			.button-wrapper
				.row_91
					.col_91.cell_9
						a.ui-button.big(href='#') View Usage
					.col_92.cell_9
						a.ui-button.big(href='#') View Invoices
					.col_93.cell_9
						a.ui-button.big(href='#') Make Payments
					.clearfix
				.row_92
					.col_91.cell_9
						a.ui-button.big.active(href='#') Change Subscription
					.col_92.cell_9
						a.ui-button.big(href='#') Report a Fault
					.col_93.cell_9
						a.ui-button.big(href='#') Update Contacts
					.clearfix
				.row_93
					.col_91.cell_9
						a.ui-button.big(href='#') Schedule a Visit
					.col_92.cell_9
						a.ui-button.big(href='#') Reset Password
					.col_93.cell_9
						a.ui-button.big(href='#') View Escalation Matrix
					.clearfix

		.change_sub
			.content
				h1 Change Subscription
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
					| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
					| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
					| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
					| Praesent non nunc suscipit, faucibus magna at, sodales eros.

			.select_service
				.select_internet_service
					form(action='#')
						.option
							input#radio1(type='radio', name='internet_service', value='Dedicated Internet Service' checked)
							span.icon-radio51
							label Dedicated Internet Service
							br
						.option
							input#radio2(type='radio', name='internet_service', value='Broadband Internet Service')
							span.icon-circle6
							label Broadband Internet Service
							br
						.option
							input#radio3(type='radio', name='internet_service', value='Broadband Internet Service')
							span.icon-circle6
							label Broadband Internet Service
							br
						.option
							input#radio4(type='radio', name='internet_service', value='Broadband Internet Service')
							span.icon-circle6
							label Broadband Internet Service
							br
						.option
							input#radio5(type='radio', name='internet_service', value='Broadband Internet Service')
							span.icon-circle6
							label Broadband Internet Service
							br

				.service_description
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
						| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
						| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
						| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
						| Praesent non nunc suscipit, faucibus magna at, sodales eros.

					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
						| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut.
				.clearfix
			.confirm_wrapper
				.confirm
					p
						a.ui-button.medium(href='#') Confirm
				.space_btm