extends ../layout/main

append config
	- var Page = {title:"Services",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner

	// Breadcrum //Start
	.breadcrum-wrapper.clearfix
		span.item
		a(href='#') Level1
		span.separator
		span.item
		a(href='#') Level2
		span.separator
		span.item
		a(href='#') Level3
		span.separator
		span.item Level4
	// Breadcrum //End
	.content-main
		.content
			h1 Services
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
				| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
				| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
				| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
	.content-main
		section.acc_section
			.content
				+service_table([
						{ 'id':'XX-01234-YY', 'name':'2Connect Service Name' },
						{ 'id':'XX-01234-YY', 'name':'2Connect Service Name' },
						{ 'id':'XX-01234-YY', 'name':'2Connect Service Name' },
						{ 'id':'XX-01234-YY', 'name':'2Connect Service Name' },
						{ 'id':'XX-01234-YY', 'name':'2Connect Service Name' },
						{ 'id':'XX-01234-YY', 'name':'2Connect Service Name' },
						{ 'id':'XX-01234-YY', 'name':'2Connect Service Name' }
					])
		aside
			.quick_links
				+quick_links_box()
		.clearfix
	+featured-list([
			{'icon_name':'gear39.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
			{'icon_name':'briefcase69.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
			{'icon_name':'pencil41.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'}
		])
			
