extends ../layout/main

append config
	- var Page = {title:"Transaction History",type:"home"}
	- var Meta = {description:"Welcome to 2Connect",keywords:""}
	- var Footer = {heading:"2Connect.net"}
	- var Modules = {imagePodNavHeading: true}
	- var EntityCarousel = {mapLink: true}

block contentInner
	.content-main.history
		.content
			h1 Transaction History
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
				| Cras laoreet porta varius. Suspendisse mattis velit nec scelerisque commodo. 
				| Etiam ullamcorper pellentesque eros, in molestie elit vehicula ut. 
				| Vestibulum eu justo ac tellus cursus venenatis. Donec diam odio, sagittis eget diam quis, vehicula euismod tortor. 
				| Cras magna arcu, porttitor non ante at, finibus molestie ipsum. 
				| Praesent non nunc suscipit, faucibus magna at, sodales eros.

		.history_table
			+invoice_history_table([
					{ 'id':'ID-12345', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' },
					{ 'id':'ID-12345', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' },
					{ 'id':'ID-12345', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' },
					{ 'id':'ID-12345', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' }
				])

			+payment_history_table([
					{ 'id':'ID-12345', 'description':'XX-01234-YY', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' },
					{ 'id':'ID-12345', 'description':'XX-01234-YY', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' },
					{ 'id':'ID-12345', 'description':'XX-01234-YY', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' },
					{ 'id':'ID-12345', 'description':'XX-01234-YY', 'amt_paid':'BHD 4,570', 'date':'10/12/2015' }
				])

	+featured-list([
			{'icon_name':'gear39.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
			{'icon_name':'briefcase69.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'},
			{'icon_name':'pencil41.svg', 'header2':'find the right package for your business', 'para':'You are just seconds away from saving money. Make sure you get the right deal for your business', 'link':'Help me choose'}
		])