/* Site Main Fonts */
@font-face {
    font-family: 'PFDinTextUniversal-ExtraThin';
    src: url('../font/PFDinTextUniversal-ExtraThin.eot');
    src: url('../font/PFDinTextUniversal-ExtraThin.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-ExtraThin.woff') format('woff'),
    url('../font/PFDinTextUniversal-ExtraThin.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-ExtraThin.svg#PFDinTextUniversal-ExtraThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextUniversal-ExtraBlack';
    src: url('../font/PFDinTextUniversal-ExtraBlack.eot');
    src: url('../font/PFDinTextUniversal-ExtraBlack.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-ExtraBlack.woff') format('woff'),
    url('../font/PFDinTextUniversal-ExtraBlack.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-ExtraBlack.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextUniversal-Thin';
    src: url('../font/PFDinTextUniversal-Thin.eot');
    src: url('../font/PFDinTextUniversal-Thin.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-Thin.woff') format('woff'),
    url('../font/PFDinTextUniversal-Thin.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-Thin.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextUniversal';
    src: url('../font/PFDinTextUniversal.eot');
    src: url('../font/PFDinTextUniversal.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal.woff') format('woff'),
    url('../font/PFDinTextUniversal.ttf') format('truetype'),
    url('../font/PFDinTextUniversal.svg#PFDinTextUniversal') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PFDinTextUniversal-Medium';
    src: url('../font/PFDinTextUniversal-Medium.eot');
    src: url('../font/PFDinTextUniversal-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-Medium.woff') format('woff'),
    url('../font/PFDinTextUniversal-Medium.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-Medium.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PFDinTextUniversal-Light';
    src: url('../font/PFDinTextUniversal-Light.eot');
    src: url('../font/PFDinTextUniversal-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-Light.woff') format('woff'),
    url('../font/PFDinTextUniversal-Light.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-Light.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'PFDinTextUniversal-Hairline';
    src: url('../font/PFDinTextUniversal-Hairline.eot');
    src: url('../font/PFDinTextUniversal-Hairline.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-Hairline.woff') format('woff'),
    url('../font/PFDinTextUniversal-Hairline.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-Hairline.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PFDinTextUniversal-Bold';
    src: url('../font/PFDinTextUniversal-Bold.eot');
    src: url('../font/PFDinTextUniversal-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-Bold.woff') format('woff'),
    url('../font/PFDinTextUniversal-Bold.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-Bold.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Icon Fonts */

@font-face {
    font-family: "TwoConnect";
    src:url("../font/2connect.eot");
    src:url("../font/2connect.eot?#iefix") format("embedded-opentype"),
    url("../font/2connect.woff") format("woff"),
    url("../font/2connect.ttf") format("truetype"),
    url("../font/2connect.svg#2connect") format("svg");
    font-weight: normal;
    font-style: normal;
}



[data-icon]:before,
.hero-wrapper .owl-controls .owl-nav > div:before,
#search-label:before,
.icon-next:after,
.owl-next:before, .owl-prev:before{
    font-family: "TwoConnect" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.content-main ul li:before,
.owl-next:before, .owl-prev:before{
    font-family: "TwoConnect" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*icons  from fontastic*/

.icon-instagram19:before {
  content: "a";
}
.icon-facebook-circled:before {
  content: "b";
}
.icon-linkedin-circled:before {
  content: "c";
}
.icon-youtube30:before {
  content: "d";
}
.icon-twitter-circled:before {
  content: "e";
}
.icon-briefcase69:before {
  content: "f";
}
.icon-gear39:before {
  content: "g";
}
.icon-pencil41:before {
  content: "h";
}
.icon-call36:before {
  content: "i";
}
.icon-call37:before {
  content: "j";
}
.icon-check-box:before {
  content: "k";
}
.icon-payment6:before {
  content: "l";
}
.icon-linegraphic9:before {
  content: "m";
}
.icon-square93:before {
  content: "n";
}
.icon-address-book3:before {
  content: "o";
}
.icon-favourite26:before {
  content: "p";
}
.icon-bin9:before {
  content: "q";
}
.icon-cross31:before {
  content: "r";
}
.icon-telephone:before {
  content: "s";
}
.icon-email126:before {
  content: "t";
}
.icon-check-mark-2:before {
  content: "u";
}
.icon-square-line:before {
  content: "v";
}
.icon-printed7:before {
  content: "w";
}
.icon-down67:before {
  content: "y";
}
.icon-right154:before {
  content: "x";
}
.icon-radio51:before {
  content: "z";
}
.icon-circle6:before {
  content: "A";
}
.icon-cellphone91:before {
  content: "B";
}
.icon-verified10:before {
  content: "C";
}
.icon-phone399:before {
  content: "D";
}
.icon-down-arrow16:before {
  content: "E";
}
.icon-search-1:before {
    content: "F";
}
.icon-arrow395:before {
  content: "G";
}
.icon-move13:before {
  content: "H";
}
.icon-upload:before {
  content: "I";
}

.icon-phone:before {
    content: "J";
}