.page-footer {
    background-color: #6c7682;
    height: 180px;
    overflow: hidden;
    padding: 0 55px;
    width: 100%;
    box-sizing: border-box;
}

footer.footer {
    max-width: 1120px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}


footer.footer .footer-main-nav {
    float: left;
    margin-top: 60px;

}

footer.footer .footer-main-nav li {
    display: inline-block;
    margin: 0 8px;
}

footer.footer .footer-main-nav li:first-child{
    margin-left: 0;
}

footer.footer .footer-main-nav li a {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.4rem;
    color: #ffffff;
    text-decoration: none;
}

footer.footer .footer-main-nav li a:hover {
    color: #ccc;
}

footer.footer .stay-connected {
    position: absolute;
    left:50%;
    margin-right: -70px;
    top:50px;

}

footer.footer .newsletter-form-wrapper {
    float: right;
    margin-top: 50px;

}

footer.footer .copy-right {
    float: left;
    clear: both;
    margin-top: -40px;
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.2rem;
    color: #ccc;
}

footer.footer h3 {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 2.2rem;
    color: #fff;
}

footer.footer .stay-connected li {
    display: inline-block;
    margin: 0 3px;
}
footer.footer .stay-connected li:first-child {
    margin-left: 0;
}

footer.footer .stay-connected h3 {
    margin-bottom: 10px;
}

footer.footer .stay-connected li a {
    font-size: 3rem;
    text-decoration: none;
    color: #989fa8;
}

/* Social logo hover color //start */
footer.footer .stay-connected li a:hover {
    color: #fff;
}
/* Social logo hover color //end */

footer.footer form{
    display: inline-block;
    background-color: #7b848f;
    margin-top: 10px;
}

footer.footer .newsletter-form-wrapper h3 {
    font-family: 'PFDinTextUniversal-Light' ;
}

footer.footer input[type="text"],
footer.footer input[type="button"] {
    background-color: #7b848f;
    color: #fff;
    padding: 0 20px;
    font-size: 1.2rem;
    height: 40px;
    border:none;
}

footer.footer input[type="button"]{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;

}


