.page-header {

    padding:0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

header.header {
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
    height: 130px;
}

header.header .menu-button {
    display: none;
}

header.header .logo {
    position: absolute;
    top:50%;
    margin-top: -22.5px;
    left:0;
}

header.header .logo svg{
    width:240px;
    height: 45px;
}


header.header ul.main-nav {
    position: absolute;
    right:0;
    bottom: 15px;
}

header.header nav > ul.main-nav > li {
    display: inline-block;
    position: relative;
}

header.header nav > ul.main-nav > li:before {
    content: "|";
    display: inline-block;
    margin: 0 5px;
    color: #ccc;
    font-size: 1.9rem;
    font-family: 'PFDinTextUniversal-Thin';
}

header.header nav > ul.main-nav > li:first-child:before {
    display: none;
}

header.header nav > ul.main-nav > li a {
    color: #55565a;
    text-decoration: none;
    font-family: 'PFDinTextUniversal-Thin';
    font-size: 1.8rem;
    position: relative;
    z-index: 2;
}

header.header nav > ul.main-nav > li a:hover {
    color: #1d5da9;
}

header.header nav>ul.main-nav>li:hover > a {
    color: #1d5da9;
}



header.header nav > ul.main-nav > li.active > a {
    color: #1d5da9;
    font-family: 'PFDinTextUniversal-Thin';
}

header.header nav > ul.main-nav > li.active > a:hover {
    color: #1d5da9;
}


header.header nav > ul.main-nav > li > ul{
    position: absolute;
    top:0;
    right:0;
    display: inline-block;
    width: 200px;
    display: none;

}

header.header nav > ul.main-nav > li:hover > ul{
    display: block;
}

header.header nav > ul.main-nav > li > ul > li:first-child {
    margin-top: 30px;
}

header.header nav > ul.main-nav > li > ul > li {
    background-color: #1d5da9;
    position: relative;
}

header.header nav > ul.main-nav > li > ul > li a {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.4;
    display: block;
    padding: 5px 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: #1d5da9;
    border-top:1px solid #094285;
    border-bottom: 1px solid #428be2;
}

header.header nav > ul.main-nav > li > ul > li a:hover {
    background-color: #094285;
    color: #fff;
}


header.header nav > ul.main-nav > li > ul > li > ul{
    position: absolute;
    top:0;
    right: 201px;
    display: none;
}

header.header nav > ul.main-nav > li > ul > li:hover ul {
    display: block;
}

header.header nav > ul.main-nav > li > ul > li > ul li {
    width: 200px;
}





header.header ul.secondary-nav {
    position: absolute;
    top:10px;
    right:0;
    height: 30px;
}

header.header ul.secondary-nav li{
    display: inline-block;
    margin-left: 15px;
    height: 20px;
}

header.header ul.secondary-nav li a {
    color:#4d5967;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.4rem;
}

header.header ul.secondary-nav li a:hover {
    color: #1d5da9;
}

header.header ul.secondary-nav li a.arabic,
header.header ul.secondary-nav li.arabic a{
    font-family: Tahoma, Geneva, sans-serif;
    vertical-align: super;

}

header.header ul.secondary-nav li.active a{
    color:#1d5da9;
}

li.search {
    margin-right: 5px;

}

li.search form {
    display: block;
    position: absolute;
    left:0;
    top:0;
    width:35px;
    height: 30px;
}

li.search form .label {
    position: absolute;
    top:0;
    left: 0;
    width:35px;
    height: 30px;
    z-index: 101;
    background-color: #fff;
}

li.search form .label:hover,
li.search form.active .label{
    background-color: #999;
    color: #fff;
}

li.search form .input input {
    background-color: #ccc;
}

li.search form .input {
    position: absolute;
    top:30px;
    left:1px;
    min-width: 150px;
    height: 30px;
    background-color: #ccc;
    margin-left: -1px;
    z-index: 100;
    opacity: 0;

    -webkit-transition: opacity ease-out 0.5s;
    -moz-transition: opacity ease-out 0.5s;
    -o-transition: opacity ease-out 0.5s;
    transition: opacity ease-out 0.5s;

}

li.search form.active .input {
    opacity: 1;
    -webkit-transition: opacity ease-in 0.2s;
    -moz-transition: opacity ease-in 0.2s;
    -o-transition: opacity ease-in 0.2s;
    transition: opacity ease-in 0.2s;
}


li.search form .input input {
    height: 30px;
    font-size: 1.4rem;
    padding: 0 15px;
}

li.search form #search-label {
    position: relative;
    width:30px;
    height: 30px;
    display: inline-block;
}
li.search form #search-label:before {
    content: 'K';
    font-size: 2rem;
    vertical-align: middle;
    position: absolute;
    left: 7px;
    top:5px;
}
