@font-face {
    font-family: 'PFDinTextUniversal-ExtraThin';
    src: url('../font/PFDinTextUniversal-ExtraThin.eot');
    src: url('../font/PFDinTextUniversal-ExtraThin.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-ExtraThin.woff') format('woff'),
    url('../font/PFDinTextUniversal-ExtraThin.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-ExtraThin.svg#PFDinTextUniversal-ExtraThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextUniversal-ExtraBlack';
    src: url('../font/PFDinTextUniversal-ExtraBlack.eot');
    src: url('../font/PFDinTextUniversal-ExtraBlack.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-ExtraBlack.woff') format('woff'),
    url('../font/PFDinTextUniversal-ExtraBlack.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-ExtraBlack.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextUniversal-Thin';
    src: url('../font/PFDinTextUniversal-Thin.eot');
    src: url('../font/PFDinTextUniversal-Thin.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-Thin.woff') format('woff'),
    url('../font/PFDinTextUniversal-Thin.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-Thin.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDinTextUniversal';
    src: url('../font/PFDinTextUniversal.eot');
    src: url('../font/PFDinTextUniversal.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal.woff') format('woff'),
    url('../font/PFDinTextUniversal.ttf') format('truetype'),
    url('../font/PFDinTextUniversal.svg#PFDinTextUniversal') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PFDinTextUniversal-Medium';
    src: url('../font/PFDinTextUniversal-Medium.eot');
    src: url('../font/PFDinTextUniversal-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-Medium.woff') format('woff'),
    url('../font/PFDinTextUniversal-Medium.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-Medium.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PFDinTextUniversal-Light';
    src: url('../font/PFDinTextUniversal-Light.eot');
    src: url('../font/PFDinTextUniversal-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-Light.woff') format('woff'),
    url('../font/PFDinTextUniversal-Light.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-Light.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'PFDinTextUniversal-Hairline';
    src: url('../font/PFDinTextUniversal-Hairline.eot');
    src: url('../font/PFDinTextUniversal-Hairline.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-Hairline.woff') format('woff'),
    url('../font/PFDinTextUniversal-Hairline.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-Hairline.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'PFDinTextUniversal-Bold';
    src: url('../font/PFDinTextUniversal-Bold.eot');
    src: url('../font/PFDinTextUniversal-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/PFDinTextUniversal-Bold.woff') format('woff'),
    url('../font/PFDinTextUniversal-Bold.ttf') format('truetype'),
    url('../font/PFDinTextUniversal-Bold.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}









@font-face {
    font-family: 'RobotoLight';
    src: url('../font/Roboto-Light.eot');
    src: url('../font/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Roboto-Light.woff') format('woff'),
    url('../font/Roboto-Light.ttf') format('truetype'),
    url('../font/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../font/Roboto-Regular.eot');
    src: url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Roboto-Regular.woff') format('woff'),
    url('../font/Roboto-Regular.ttf') format('truetype'),
    url('../font/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Light-webfont.woff') format('woff'),
    url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
    url('../font/OpenSans-Light-webfont.svg#OpenSans-Light-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../font/OpenSans-Regular-webfont.eot');
    src: url('../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Regular-webfont.woff') format('woff'),
    url('../font/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('../font/OpenSans-Regular-webfont.svg#OpenSans-Regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../font/OpenSans-Bold-webfont.eot');
    src: url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Bold-webfont.woff') format('woff'),
    url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),
    url('../font/OpenSans-Bold-webfont.svg#OpenSans-Bold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../font/OpenSans-Semibold-webfont.eot');
    src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('../font/OpenSans-Semibold-webfont.svg#OOpenSans-Semibold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinLight';
    src: url('../font/din-light-webfont.eot');
    src: url('../font/din-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/din-light-webfont.woff') format('woff'),
    url('../font/din-light-webfont.ttf') format('truetype'),
    url('../font/din-light-webfont.svg#OOpenSans-Semibold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinProLight';
    src: url('../font/dinpro-light-webfont.eot');
    src: url('../font/dinpro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/dinpro-light-webfont.woff') format('woff'),
    url('../font/dinpro-light-webfont.ttf') format('truetype'),
    url('../font/dinpro-light-webfont.svg#OOpenSans-Semibold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gess';
    src: url('../font/gess.eot');
    src: url('../font/gess.eot?#iefix') format('embedded-opentype'),
    url('../font/gess.woff') format('woff'),
    url('../font/gess.ttf') format('truetype'),
    url('../font/gess.svg#gess') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GessTextLight';
    src: url('../font/ge_ss_text_light-webfont.eot');
    src: url('../font/ge_ss_text_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/ge_ss_text_light-webfont.woff') format('woff'),
    url('../font/ge_ss_text_light-webfont.ttf') format('truetype'),
    url('../font/ge_ss_text_light-webfont.svg#ge_ss_text_light-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}



html { font-size:10px; }
body {
    min-width: 1120px !important; 
    font:100%/1.5 'PFDinTextUniversal-Light', Arial, Helvetica, sans-serif; }
html,body { color:#3f4247; width:100%; height:100%; min-height:100%; }


/* Vertically middle align trick */
.middle-items:before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.middle-items > * {
    display: inline-block;
    vertical-align: middle;
}


.master .content-wrapper {
    width: 100%;
    overflow: auto;
}



.underlay {
    position: absolute;
    background: rgba(34,34,34,0.96);
    -moz-box-shadow:    0px 1px 6px 0px rgba(0,0,0,0.20);
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.20);
    box-shadow:         0px 1px 6px 0px rgba(0,0,0,0.20);

    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 90;
}

.page-header .has-underlay .underlay {
    display: none !important;
}


/* Hero Images */

.hero-wrapper {
    width: 100%;
    margin-bottom: 50px;
}

.hero-wrapper .no-carousel {
    position: relative;

}

.hero-wrapper .no-carousel img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-wrapper .no-carousel .hero-content-wrapper {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0.7);
}

.hero-wrapper .no-carousel .hero-content-wrapper.with-cta {
    background-color: rgba(255,255,255,0);
}


.hero-wrapper .no-carousel .hero-content-wrapper .content{
    display: inline-block;
    vertical-align: middle;
    max-width: 1120px;
    text-align: left;
}

.hero-wrapper .no-carousel .hero-content-wrapper .content h2{
    font-family: 'PFDinTextUniversal-Light';
    font-size: 4rem;
    color: #4d5967;
}

.hero-wrapper .no-carousel .hero-content-wrapper .content p {
    font-family:'PFDinTextUniversal-Light';
    font-size: 2rem;
    line-height: 1.3;
}

.hero-wrapper .no-carousel .hero-content-wrapper.with-cta .content h2{
    font-family: 'PFDinTextUniversal-Light';
    font-size: 4rem;
    color: #fff;
    line-height: 1.2;
    width: 80%;
    margin-bottom: 10px;
}

.hero-wrapper .no-carousel .hero-content-wrapper.with-cta .content p.text{
    color: #fff;
    float:left;
    width:80%;
    padding-right: 10%;
    box-sizing: border-box;
}

.hero-wrapper .no-carousel .hero-content-wrapper.with-cta .content p.cta{
    color: #fff;
    float: left;
    width: 20%;
}

/************************************************* media  css ****************************************/

/*
@media screen and (max-width: 1090px) {

    .hero-wrapper .no-carousel .hero-content-wrapper.with-cta .content p.text{
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .hero-wrapper .no-carousel .hero-content-wrapper.with-cta .content p.cta{
        width: 100%;
        text-align: center;
    }

    .hero-wrapper .no-carousel .hero-content-wrapper.with-cta .content h2{
        text-align: center;
        width: 100%;
    }


}

*/

.hero-wrapper .no-carousel .hero-content-wrapper .content p+p {
    margin-top: 15px;
}

/*

@media screen and (max-width: 1150px) {
    .hero-wrapper .no-carousel .hero-content-wrapper .content{
        max-width: 95%;
    }
}

@media screen and (max-width: 880px) {
    .hero-wrapper .no-carousel .hero-content-wrapper .content p{
        font-size: 1.3rem;
    }

    .hero-wrapper .no-carousel .hero-content-wrapper .content h2{
        font-size: 2rem;
    }
}

@media screen and (max-width: 650px) {
    .hero-wrapper .no-carousel .hero-content-wrapper .content p{
        display: none;
    }


    .hero-wrapper .no-carousel .hero-content-wrapper.with-cta .content h2{
        font-size: 2rem;
    }
}
 
*/

.hero-wrapper .owl-carousel {
    width: 100%;
}

.hero-wrapper .item {
    position: relative;
    width: 100%;
}

.hero-wrapper .item .backdrop {
    width: 100%;
    display: block;
}

.hero-wrapper .wrapper-summary {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-wrapper .item:before {
    content: '';
    display: block;
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/hero-overlay.png") no-repeat 0 bottom;
    z-index: 90;

}

.hero-wrapper .wrapper-summary .summary {
    max-width:620px;
    margin: 0 auto;
    vertical-align: bottom;
    margin-bottom: 5%;
    z-index: 100;
    position: relative;
}

/*@media screen and (max-width: 880px) {
    .hero-wrapper .wrapper-summary .summary {
        max-width:400px;
    }
}

@media screen and (max-width: 960px) {
    .hero-wrapper .wrapper-summary .summary {
        margin-bottom: 2%;
    }

}*/

.hero-wrapper .wrapper-summary h2 {
    color: #fff;
    font-size: 6rem;
    font-weight: normal;
    line-height: 1.2;
    font-family: 'PFDinTextUniversal-ExtraThin';
}

/*@media screen and (max-width: 960px) {
    .hero-wrapper .wrapper-summary h2 {
        font-size: 3rem;
    }

}*/

.hero-wrapper .wrapper-summary p {
    /*font-size: 1.6em;*/
    font-size: 2rem;
    text-align: justify;
    margin-bottom: 25px;
}

.hero-wrapper .wrapper-summary .explore-more {
    font-size: 1.4em;
    display: inline-block;
    width: 260px;
    padding: 10px 0 7px 0;
}

.hero-wrapper .wrapper-summary .cta {
    margin-top: 15px;
}


.hero-wrapper .owl-controls .owl-pagination {
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: -35px;
    z-index: 2;
}


.hero-wrapper .owl-controls .owl-pagination .owl-page {
    display: inline-block;
}

.hero-wrapper .owl-controls .owl-pagination .owl-page span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #56565a;
    border-radius: 50%;
    margin: 0 5px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75) inset;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75) inset;
}


.hero-wrapper .owl-controls .owl-pagination .owl-page.active span {
    background-color: #1d5da9;
}



.hero-wrapper .owl-controls .owl-buttons > div {
    position: absolute;
    top: 50%;
    left: 3%;
}

.hero-wrapper .owl-controls .owl-buttons > .owl-next {
    left: auto;
    right: 3%;
}


.hero-wrapper .owl-controls .owl-buttons .owl-prev:before {
    content: 'G';
}

.hero-wrapper .owl-controls .owl-buttons .owl-next:before {
    content: 'H';
}


.hero-wrapper .owl-controls .owl-buttons > div:before {
    display: inline-block;
    font-size: 8rem;
    margin-top: -80px;
    color: #fff;
    opacity: 0.6;
}






/* Buttons */
a.ui-button, .ui-button, input[type="button"].ui-button , input[type="submit"].ui-button , input[type="reset"].ui-button {
    display: inline-block;
    background-color: #1d5da9;
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.8rem;
    line-height: 1.2;
    -webkit-border-radius: 0 8px;
    -moz-border-radius: 0 8px;
    border-radius: 0 8px;
    margin: 0 5px;
    color: #fff !important;
    text-decoration: none;
    width: auto;
    height: auto;
}


a.ui-button:hover, .ui-button:hover, input.ui-button:hover {
    background-color: #0f4b92;
}

a.ui-button.big, .ui-button.big, input.ui-button.big {
    padding: 15px 50px;
    font-size: 1.8rem;
}

a.ui-button.medium, .ui-button.medium, input.ui-button.medium {
    padding: 15px 35px;
    font-size: 1.4rem;
}

a.ui-button:before {
    margin-right: 5px;
    vertical-align: top;
}



a.ui-button-secondary {
    display: inline-block;
    background-color: #969696;
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.8rem;
    line-height: 1.2;
    -webkit-border-radius: 0 8px;
    -moz-border-radius: 0 8px;
    border-radius: 0 8px;
    margin: 0;
    color: #fff !important;
    text-decoration: none;
    padding: 15px 50px;
}

a.ui-button-secondary:hover {
    background-color: #0f4b92;
}

a.ui-button-secondary.medium {
    padding: 15px 35px;
    font-size: 1.4rem;
}


input[type="button"].ui-button, input[type="reset"].ui-button, input[type="submit"].ui-button {
    -webkit-appearance: button;
    cursor: pointer;
}

/*@media screen and (max-width: 960px) {
    a.ui-button.big, .ui-button.big, input.ui-button.big  {
        padding: 10px 20px;
        font-size: 1.3rem;
    }

    a.ui-button-secondary{
        padding: 10px 20px;
        font-size: 1.3rem;
    }

    a.ui-button.medium, .ui-button.medium, input.ui-button.medium  {
        padding: 10px 20px;
        font-size: 1.3rem;
    }
}*/




/* Featured Content */
.featured-content {
    display: block;
    min-height: 430px;
    margin-bottom:25px;
    background-color: #e4e4e4;
    text-align: center;
    position: relative;

}

.featured-content .content-wrapper {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.featured-content .content-wrapper .content {
    max-width: 620px;
}

.featured-content h2 {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 5rem;
    color: #56565a;
    line-height: 1.2;
    margin-bottom: 25px;
}

.featured-content p {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 2rem;
    color: #626262;
    line-height: 1.2;

}

.featured-content p+p {
    margin-top: 25px;
}

/*@media screen and (max-width: 1000px) {
    .featured-content {
        min-height: 50px;

    }

    .featured-content .content-wrapper {
        position: relative;
        overflow: visible;
    }
    .featured-content .content-wrapper .content {
        width: 100%;
        max-width: 100%;
        display: block;
        padding: 10px 10px 30px 10px;
        box-sizing: border-box;
    }

    .featured-content h2 {
        font-size: 3rem;
        margin-bottom: 5px;
    }
}*/


/* Latest News */
.latest-news {
    max-width: 100%;
    margin: 0 auto 25px auto;
    overflow: auto;
}

.latest-news h2 {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.latest-news li {
    width: 50%;
    float:left;
    position: relative;
}

.latest-news li a {
    display: block;
}


.latest-news li .dummy {
    padding-top: 37.5%;
}

.latest-news li:nth-child(3n+1) .dummy {
    padding-top: 75%;
}

.latest-news .news-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.latest-news .news-item .news-img img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.latest-news li:hover .news-item .news-img img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

.latest-news .news-copy-wrapper {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.latest-news .news-copy-wrapper .news {
    display: inline-block;
    max-width: 88%;
}

.latest-news .news-item .news-copy:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #e4e4e4;
    right:-15px;
    top:45%;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}
.latest-news li:hover .news-item .news-copy:before {
    border-left: 15px solid #1d5da9;
}


.latest-news li:nth-child(3n+3) .news-item .news-copy:before {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: none;
    border-right:15px solid #e4e4e4;
    right:auto;
    left:-15px;
    top:45%;
}

.latest-news li:nth-child(3n+3):hover .news-item .news-copy:before {
    border-right: 15px solid #1d5da9;
}

.latest-news .news-item .news-copy {
    width:215px;
    background-color: #e4e4e4;
    position: absolute;
    top:0;
    left:0;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    height: 100%;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}


.latest-news li:hover .news-item .news-copy {
  background-color: #1d5da9;
}


.latest-news li:nth-child(3n+1) .news-item .news-copy {
    height: 50%;
}

.latest-news li:nth-child(3n+3) .news-item .news-copy {
    left: auto;
    right: 0;
}

.latest-news .news-copy-wrapper .news h5 {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.2rem;
    color:#4d5967;
    text-transform: uppercase;
}

.latest-news .news-copy-wrapper .news p {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.4rem;
    color:#4d5967;
}

.latest-news li:hover .news-copy-wrapper .news h5,
.latest-news li:hover .news-copy-wrapper .news p {
    color:#fff;
}

/*@media screen and (max-width: 860px) {
    .latest-news {
        overflow: visible;
    }
    .latest-news h2 {
        font-size: 3rem;
    }
    .latest-news li {
        width: 100%;
        float: none;
    }

    .latest-news .news-item .news-copy {
        position: static;
        width: 100%;
        height: 100% !important;
        box-sizing: border-box;

    }

    .latest-news .news-copy-wrapper {
        background-color: rgba(0,0,0,0.7);
    }

    .latest-news .news-item .news-copy:before {
        display: none;
    }

    .latest-news .news-copy-wrapper .news h5 {
        color: #fff;
        font-size: 2rem;
    }

    .latest-news .news-copy-wrapper .news p {
        color: #fff;
        font-size: 1.2rem;

    }
}
*/

/* Featured list*/
.featured-list {
    max-width: 1120px;
    margin: 30px auto 0 auto;
    overflow: auto;
    //margin-bottom: 25px;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#bbcee5));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #ffffff, #bbcee5);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #ffffff, #bbcee5);

    /* IE 10 */
    background: -ms-linear-gradient(top, #ffffff, #bbcee5);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ffffff, #bbcee5);
}

.featured-list ul {
    display: table;
    width: 100%;
    margin: 0 auto 0 auto;
    -webkit-transition: all ease-in 1.2s;
    -moz-transition: all ease-in 1.2s;
    -o-transition: all ease-in 1.2s;
    transition: all ease-in 1.2s;

}

.featured-list ul.inView {
    opacity: 1;
    margin-top: 0;

}

.featured-list ul li {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    padding: 30px 50px 110px 50px;
    box-sizing: border-box;
}

/*@media screen and (max-width: 1000px) {

    .featured-list ul li {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 720px) {
    .featured-list ul {
        width: 100%;
    }

    .featured-list ul li {
        display: block;
        width: 100%;
        /* Safari 4-5, Chrome 1-9 
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#bbcee5));

        /* Safari 5.1, Chrome 10+ 
        background: -webkit-linear-gradient(top, #ffffff, #bbcee5);

        /* Firefox 3.6+ 
        background: -moz-linear-gradient(top, #ffffff, #bbcee5);

        /* IE 10 
        background: -ms-linear-gradient(top, #ffffff, #bbcee5);

        /* Opera 11.10+ 
        background: -o-linear-gradient(top, #ffffff, #bbcee5);
    }
}*/

.featured-list ul li:hover {
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#1e5ea9));

    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #ffffff, #1e5ea9);

    /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #ffffff, #1e5ea9);

    /* IE 10 */
    background: -ms-linear-gradient(top, #ffffff, #1e5ea9);

    /* Opera 11.10+ */
    background: -o-linear-gradient(top, #ffffff, #1e5ea9);
}

.featured-list ul li span.icon {
    display: inline-block;
    margin-bottom: 20px;
}

.featured-list ul li span.icon svg{
    width:48px;
    height: 48px;
    fill: #6c7682;
}

.featured-list ul li:hover span.icon svg {
    fill: #fff;
}

.featured-list ul li h2 {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 2.4rem;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.3;
    color: #56565a;
    margin-bottom: 15px;
}

.featured-list ul li:hover h2 {
    color: #fff;
}

.featured-list ul li p {
    font-family: 'PFDinTextUniversal-Light';
    //font-size: 1.4rem;
    font-size: 1.8rem;
}

.featured-list ul li:hover p {
    color: #ffffff;
}

.featured-list ul li p+p {
    margin-top: 20px;
}

.featured-list ul li:hover a.ui-button {
    background-color: #fff;
    color: #1d5da9 !important;
}

/* Animate Elements When it is visible */
.animation-rotate {
    -webkit-transition: 1.6s;
    -moz-transition: 1.6s;
    -o-transition: 1.6s;
    transition: 1.6s;
}

.animation-rotate:hover    {transform : rotate(360deg); }



/* Breadcrum */

.breadcrum-wrapper {
    max-width: 1120px;
    margin: 0 auto 35px auto;
}

.content-wrapper .breadcrum-wrapper:first-child {
    margin-top: 50px;
}

.breadcrum-wrapper span {
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 1.4rem;
    color: #3a97e7;
}

.breadcrum-wrapper span.separator:before{
    content: ">";
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 10px;
    color: #54596c;
}

.breadcrum-wrapper  a{
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 1.4rem;
    color: #54596c;
    text-decoration: none;
}

.breadcrum-wrapper a:hover{
    color: #178ee9;
}

/*@media screen and (max-width: 1150px) {
    .breadcrum-wrapper {
        width: 95%;
    }


}

@media screen and (max-width: 667px) {
    .content-wrapper .breadcrum-wrapper:first-child {
        margin-top: 20px;
    }
}*/

/* Content Main */
.content-main-wrapper {
    width: 100%;
    //margin-bottom: 70px;
    margin-bottom: 60px;
    overflow: auto;
}

.content-main{
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.content-main > h1, .content-main > h2 {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 4rem;
    color: #4d5967;
    line-height: 1.2;
    margin-bottom: 10px;
}

.content-main h1 span.date, .content-main h2 span.date {
    font-size: 1.8rem;
    display: block;
}

.content-main > h1 a, .content-main > h2 a{
    font-family: 'PFDinTextUniversal-Light';
    font-size: 4rem;
    color: #4d5967;
    line-height: 1.2;
    margin-bottom: 10px;
    text-decoration: none;
}

.content-main h1 a span.date, .content-main h2 a span.date {
    font-size: 1.8rem;
    display: block;
}

.content-main p {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 2rem;
    color: #4d5967;
    line-height: 1.4;
}

.content-main h1+p {
    text-align: justify;
}

.content-main ul:after, .content-main ol:after {
    content: "";
    display: table;
    clear: both;
}

.content-main p a{
    color: #178ee9;
    text-decoration: none;
}

.content-main p+p {
    margin-top: 15px;
}

.content-main img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.content-main img.alignleft,
.content-main img.alignright{
    display: inline-block;
    width: auto;
    max-width: 100%;
    height: auto;
    float: left;
    margin: 10px 15px 10px 0;
}
.content-main img.alignright{
    float: right;
    margin: 10px 0 10px 15px ;
}

.content-main ul {
    list-style-type: none;
    display: table;
    /*margin: 10px 0;*/
    width: 100%;
}

.content-main ul li {
    float: left;
    width: 33.333%;
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 2rem;
    /*margin-bottom: 5px;*/
    display: table-cell;
    vertical-align: middle;
    line-height: 2.2;
    padding-right: 2%;
    padding-left: 50px;
    box-sizing: border-box;
    position: relative;
}

.content-main .one_half ul li {
    width: 50%;
}

.content-main ul li:before {
    color: #1d5da9;
    margin-right: 25px;
    font-size: 3rem;
    vertical-align: text-top;
    position: absolute;
    left: 0;
    top: 8px;
}


.content-main table {
    width: 100%;
    margin: 15px 0;
    /*border:2px solid #1d5da9; */
    border-collapse: collapse;
}

.content-main table th{
    //background-color: #1d5da9;
    text-align: left;
    //padding: 12px 35px;
    padding: 12px 35px 12px 0;
    font-family: 'PFDinTextUniversal-Medium';
    color: #4D5967;
    //font-size: 2rem;
    font-size: 2.2rem;
    line-height: 1;
}

.content-main table td{
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.8rem;
    line-height: 1;
    //padding: 10px 35px;
    padding: 15px 15px 15px 0px;
    color: #56565a;
}

.content-main table td > a {
    text-decoration: none;
    font-family: 'PFDinTextUniversal-Light';
    color: #1d5da9;
}

.content-main table tr {
    /*border:2px solid #e1e1e1; */
}

.content-main section {
    float:left;
    width:71.964%;

}

.content-main section .content{
    position: relative;
}

.content-main aside {
    float:left;
    width:28.035%;
    padding-left: 2.589%;
    box-sizing: border-box;
}


.content-main section:before, .content-main aside .content:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
}

.content-main section:before{
    width:71.964%;
    background-color: #fff;
}

.content-main section.dark-bg:before {
    background-color: #efefef;
}

.content-main aside .content:before {
    width:25.446%;
    left: 74.553%;
    background-color: #efefef;
}


/*@media screen and (max-width: 1150px) {
    .content-main section {
        width: 61.964%;
    }

    .content-main aside {
        padding-left: 2.589%;
        width: 38.035%;
    }

    .content-main aside .content:before {
        width: 35.446%;
    }

    .content-main aside .content:before {
        left: 64.553%;
    }

    .content-main aside .content {
        padding: 15px 10px;
    }

    .content-main aside ul {
        margin-top: 10px !important;
    }

}

@media screen and (max-width: 1000px) {
    .content .tab-content-wrapper {
        border-bottom: 5px solid #fff;
    }
    .content-main section {
        width: 100%;
        border-bottom: 35px solid #fff;
    }

    .content-main section:before {
        width: 100%;
    }


    .content-main aside {
        padding-left: 0;
        width: 100%;
        margin-top: 20px;
    }

    .content-main aside .content:before {
        width: 100%;
    }

    .content-main aside .content:before {
        left:0;
    }

    .content-main aside .content {
        padding: 15px 10px;
    }

    .content-main aside ul {
        margin-top: 30px !important;
    }

    .content-main .one_half ul li {
        width: 100%;
    }

}


@media screen and (max-width: 880px) {
    .content-main ul li {
        padding-right: 2%;
        padding-left: 30px;
        box-sizing: border-box;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .content-main ul li {
        float: left;
        width: 50%;
    }

    .content-main .one_half ul li {
        width: 50%;
    }

    .content-main ul li:before {
        font-size: 2rem;
        top: 5px;
    }

    .content-main table th {
        padding: 8px 10px;
        font-family: 'PFDinTextUniversal-Medium';
        font-size: 1.5rem;
    }

    .content-main table td {
        font-size: 1.2rem;
        line-height: 1;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 700px) {

    .content-main > h1 , .content-main > h2 , .content-main > h2 a{
        font-size: 2rem;
        box-sizing: border-box;
    }

    .content-main p {
        font-size: 1.4rem;
    }

    .content-main ul li {
        font-size: 1.6rem;
        line-height: 1.8;
    }
}

@media screen and (max-width: 600px) {
    .content-main ul li {
        display: block;
        width: 100%;
    }
    .content-main table th {
        display: none;
    }

    .content-main table td {
        display: block;
    }

    .content-main table td:before {
        content: attr(data-th) ": ";
        font-family: 'PFDinTextUniversal-Medium';
        width: 12em;
        display: inline-block;
    }
}

@media screen and (max-width: 1150px) {
    .content-main-wrapper {
        width: 95%;
        margin: 0 auto 35px auto;

    }
}*/

/* 2 Column content */
.full_width, .one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth {
    float: left;
}

.one_half {
    width: 48% !important;
    margin-right: 4% !important;
}

.one_half.last_column {
    width: 48% !important;
    margin-right: 0px !important;
}

/*@media screen and (max-width: 880px) {
    .one_half, .one_half.last_column {
        width: 100% !important;
    }
}*/

/* Generic Content Wrapper */
.generic-content-wrapper {
    width: 100%;
    margin-bottom: 35px;
}

/* Accordion */
.generic-content-wrapper .accordion-wrapper {
    max-width: 1120px;
    margin: 0 auto;
}

.generic-content-wrapper .accordion-wrapper .accordion-title{
    background-color: #1d5da9;
    cursor: pointer;
    font-family: 'PFDinTextUniversal-Light';
    color: #fff;
    font-size: 2rem;
    padding: 10px 15px;
    line-height: 1;
}

.generic-content-wrapper .accordion-wrapper .accordion-title:before {
    font-size: 2.3rem;
    color: #8eaed4;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 1;
}

.generic-content-wrapper .accordion-wrapper .accordion-content-wrapper{
    background-color: #efefef;
    box-sizing: border-box;
    color: #4d5967;
    font-family: 'PFDinTextUniversal-Light';
    font-size: 2rem;
    max-height: 0px;
    overflow: hidden;
    -moz-transition: max-height 0.2s ease-out;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.generic-content-wrapper .accordion-wrapper .accordion-content-wrapper.show {
    max-height: 1000px;
    -moz-transition: max-height 0.2s ease-in;
    -webkit-transition: max-height 0.2s ease-in;
    -o-transition: max-height 0.2s ease-in;
    transition: max-height 0.2s ease-in;
}

.generic-content-wrapper .accordion-wrapper .accordion-content-wrapper .accordion-content {
    padding: 30px 20px;
}

.generic-content-wrapper .accordion-wrapper .accordion-content-wrapper .accordion-content p + p {
    margin-top: 15px;
}


/*@media screen and (max-width: 1150px) {
    .generic-content-wrapper .accordion-wrapper {
        width: 95%;
        margin: 0 auto;
    }

}*/



/* List Item or News List Item */
.content-main-wrapper.list-item img.thumb{
    width: 285px;
    height: auto;
    float: right;
    display: block;
}

.content-main-wrapper.list-item h1,
.content-main-wrapper.list-item .content {
    padding-right: 300px;
    box-sizing: border-box;
}

/*@media screen and (max-width: 580px) {
    .content-main-wrapper.list-item img.thumb{
        width: 100%;
        height: auto;
        float: none;
        margin-bottom: 10px;
    }

    .content-main-wrapper.list-item h1,
    .content-main-wrapper.list-item .content {
        padding-right: 0;
    }
}*/


/* List filter */
.list-filter-wrapper {
    overflow: auto;
    margin: 0 auto 30px auto;
    max-width: 1120px;
}

.list-filter-wrapper fieldset {
    width: 50%;
}

.list-filter-wrapper fieldset .form-field {
    width: 48%;
    margin-right: 4%;
    float: left;
    box-sizing: border-box;
}

.list-filter-wrapper fieldset .form-field:last-child {
    margin-right: 0;
}


/*@media screen and (max-width: 1150px) {
    .list-filter-wrapper {
        width: 95%;
    }
}

@media screen and (max-width: 667px) {
    .list-filter-wrapper fieldset {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    .list-filter-wrapper fieldset .form-field {
        width: 100%;
        margin-right: 0;
    }
}*/


/* List Pagination */
.pagination-wrapper {
    overflow: auto;
    margin: 30px auto 35px auto;
    max-width: 1120px;
    text-align: center;
}

.pagination-wrapper li {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 5px;
}

.pagination-wrapper li a {
    color: #969696;
    text-decoration: none;
}

.pagination-wrapper li a:hover,
.pagination-wrapper li a.active{
    color:#3a97e7;
}

.pagination-wrapper li a:before,
.pagination-wrapper li a:after {
    vertical-align: middle;
    margin: 0 10px;
    padding-bottom: 4px;
    display: inline-block;
}


.pagination-wrapper ul.page-pagination {
    width: 100%;
}

.pagination-wrapper ul.page-pagination li.left {
    float: left;
    text-align: left;
}

.pagination-wrapper ul.page-pagination li.right {
    float: right;
    text-align: right;
}

.pagination-wrapper ul.page-pagination li a {
    font-family: 'PFDinTextUniversal-Light';
    color: #4d5967;
    display: inline-block;
    width: 460px;
    position: relative;
}

.pagination-wrapper ul.page-pagination li a span:before,
.pagination-wrapper ul.page-pagination li a span:after {
    vertical-align: middle;
    margin: 0;
    padding:0;
    display: inline-block;
    font-size: 1.2rem;
}

.pagination-wrapper ul.page-pagination li a span:before {
    margin:0;
}

.pagination-wrapper ul.page-pagination li a span.article-brief {
    display: block;
    background-color: #1d5da9;
    height: 160px;
    overflow: hidden;
}

.pagination-wrapper ul.page-pagination li a:hover span.article-brief {
    background-color: #0f4b92;
}

.pagination-wrapper ul.page-pagination li a span.article-brief p {
    padding: 20px;
    color: #fff;
    font-family: 'PFDinTextUniversal-Light';
    display: inline-block;
    width: 290px;
    box-sizing: border-box;
}

.pagination-wrapper ul.page-pagination li.left a span.article-brief img{
    display: inline-block;
    vertical-align: middle;
}

.pagination-wrapper ul.page-pagination li.right a span.article-brief img {
    display: inline-block;
    vertical-align: middle;
}

.cta-wrapper {
    background-color: #e1e1e1;
    text-align: center;
    width: 100%;
    margin: 0 0 35px 0;
}

.cta-wrapper p{
    max-width: 1120px;
    margin: 0 auto;
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 2rem;
    color: #333333;
    padding: 35px;
    box-sizing: border-box;
}

.cta-wrapper p a {
    color: #4d5967;
    text-decoration: none;
}

.cta-wrapper p a:hover {
    color:#3a97e7;

}


/*@media screen and (max-width: 1150px) {
    .pagination-wrapper {
        width: 95%;
    }

    .cta-wrapper p {
        width: 95%;
    }
}

@media screen and (max-width: 1020px) {
    .pagination-wrapper ul.page-pagination li a span.article-brief img{
        display: none !important;
    }

    .pagination-wrapper ul.page-pagination li a {
        width: 260px !important;
    }
}

@media screen and (max-width: 600px) {
    .pagination-wrapper ul.page-pagination li a span.article-brief {
        display: none !important;
    }

    .pagination-wrapper ul.page-pagination li a {
        width: 100px !important;
    }

    .pagination-wrapper ul.page-pagination li a span span {
        display: none;
    }

    .pagination-wrapper ul.page-pagination li a span:before, .pagination-wrapper ul.page-pagination li a span:after {
        font-size: 4rem;
    }
}*/




/* Team Wrapper */
.team-main-wrapper {
    width: 100%;
    margin-bottom: 35px;
    overflow: auto;
}

.team-main-wrapper img.hero{
    width: 100%;
    height: auto;
}

/*@media screen and (max-width: 1150px) {
    .team-main-wrapper .content-main {
        width: 95%;
        margin: 0 auto;

    }
}*/



/* Wide Content Wrapper  */
.content-wide-wrapper {
    width: 100%;
    margin-bottom: 20px;
}



/* List result wrapper */
.list-result-wrapper {
    width: 100%;
    margin-bottom: 35px;
    overflow: auto;
}

.list-result-main {
    max-width: 1120px;
    margin: 0 auto;
}

.list-result-main > h1, .list-result-main > h2 {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 4rem;
    color: #4d5967;
    line-height: 1.2;
    margin-bottom: 10px;
}

.list-result-main p {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 2rem;
    color: #4d5967;
    line-height: 1.4;
}

.list-result-main p+p {
    margin-top: 15px;
}

.list-result-wrapper .list-result-main ul {
    position: relative;
    float: left;

}

.list-result-wrapper .list-result-main.column-2 li, .list-result-wrapper .list-result-main.column-2 li:before {
    width: 48.21%;
}

.list-result-wrapper .list-result-main li:before {
    /*
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    */
}

.list-result-wrapper .list-result-main.column-2 li:nth-child(2n+0):before {
    left: 51.79%;
}


.list-result-wrapper .list-result-main.column-2 li {
    float: left;
    margin-top: 3.58%;
}

.list-result-wrapper .list-result-main.column-2 li:nth-child(1), .list-result-wrapper .list-result-main.column-2 li:nth-child(2) {
    margin-top: 0;
}

.list-result-wrapper .list-result-main.column-2 li:nth-child(2n+1) {
    margin-right: 3.58%;
}

.list-result-wrapper .list-result-main .leader-brief {
    width: 100%;
    position: relative;
    float: left;
}

.list-result-wrapper .list-result-main .leader-brief h2 {

}

.list-result-wrapper .list-result-main .leader-img, .list-result-wrapper .list-result-main .leader-img:before {
    width: 49.1455%;
    margin-right: 1.709%;
}

.list-result-wrapper .list-result-main .leader-img {
    float: left;
}

.list-result-wrapper .list-result-main .leader-img:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background: #333;
}

.list-result-wrapper .list-result-main .leader-img img {
    width: 100%;
    height: auto;
    display: block;
}

.list-result-wrapper .list-result-main .leader-data, .list-result-wrapper .list-result-main .leader-data:before {
    width: 49.1455%;
}

.list-result-wrapper .list-result-main .leader-data {
    float: left;
    padding: 3% 4.31%;
    box-sizing: border-box;
    background-color: #1d5da9;
}

.list-result-wrapper .list-result-main .leader-data:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 50.8545%;
    background-color: #1d5da9;
}

.list-result-wrapper .list-result-main .leader-data h2 {
    font-family: 'PFDinTextUniversal-Light';
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 1.3;
}

.list-result-wrapper .list-result-main .leader-data h2  span {
    display: block;
    font-size: 1.4rem;
    color: #ccc;
}

.list-result-wrapper .list-result-main .leader-data p {
    font-size: 1.4rem;
    line-height: 1.4;
    color: #fff;
    margin-top: 15px;
}

.list-result-wrapper .list-result-main .leader-data p a {
    color: #999;
    text-decoration: none;
}

/*@media screen and (max-width: 900px) {
    .list-result-wrapper .list-result-main.column-2 li, .list-result-wrapper .list-result-main.column-2 li:before {
        width: 100%;
    }

    .list-result-wrapper .list-result-main.column-2 li:nth-child(2n+1) {
        margin-right:0;
    }

    .list-result-wrapper .list-result-main.column-2 li:nth-child(2) {
        margin-top: 3.58%;
    }

    .list-result-wrapper .list-result-main.column-2 li:nth-child(2n+0):before {
        left:0;
    }
}



@media screen and (max-width: 700px) {
    .list-result-wrapper .list-result-main > h2 {
        font-size: 3rem;
    }
}


@media screen and (max-width: 550px) {
    .list-result-wrapper .list-result-main .leader-img, .list-result-wrapper .list-result-main .leader-img:before {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.709%;
    }

    .list-result-wrapper .list-result-main .leader-data, .list-result-wrapper .list-result-main .leader-data:before {
        width: 100%;
    }

    .list-result-wrapper .list-result-main .leader-data:before {
        left: 0;
    }
}



@media screen and (max-width: 1150px) {
    .list-result-wrapper .list-result-main {
        width: 95%;
        margin: 0 auto;
    }
}*/




/* 3 Cloumn list */
.list-result-wrapper .list-result-main.column-3 li {
    float: left;
    margin-left: 2.4509%;
}

.list-result-wrapper .list-result-main.column-3 li .category-item-wrapper h2 {
    padding-top: 30px;
}

.list-result-wrapper .list-result-main.column-3 li, .list-result-wrapper .list-result-main.column-3 li:before {
    width: 31.6994%;
}

.list-result-wrapper .list-result-main.column-3 li:before {
    background-color: #efefef;
}

.list-result-wrapper .list-result-main.column-3 li:nth-child(2n+0):before {
    left: 34.1503%;
}

.list-result-wrapper .list-result-main.column-3 li:nth-child(3n+0):before {
    left: 68.3006%;
}

.list-result-wrapper .list-result-main.column-3 li:nth-child(1) .category-item-wrapper h2,
.list-result-wrapper .list-result-main.column-3 li:nth-child(2) .category-item-wrapper h2,
.list-result-wrapper .list-result-main.column-3 li:nth-child(3) .category-item-wrapper h2{
    padding-top:0;
}

.list-result-wrapper .list-result-main.column-3 li:nth-child(4n+0),
.list-result-wrapper .list-result-main.column-3 li:nth-child(1){
    margin-left: 0;
}


.list-result-wrapper .list-result-main.column-3 .category-item-wrapper h2 {
    color: #4d5967;
    padding-bottom: 5px;
    font-family: 'PFDinTextUniversal-Light';
    font-size: 2.5rem;
    background-color: #fff;
}

.list-result-wrapper .list-result-main.column-3 .category-item-wrapper h2 a{
    color: #4d5967;
    font-family: 'PFDinTextUniversal-Light';
    font-size: 2.5rem;
    text-decoration: none;
}

.list-result-wrapper .list-result-main.column-3 .category-item-wrapper .category-item {
    background-color: #efefef;
}

.list-result-wrapper .list-result-main.column-3 .category-item-wrapper .category-item .category-img img {
    width: 100%;
    height: auto;
    display: block;
}

.list-result-wrapper .list-result-main.column-3 .category-item-wrapper .category-item .category-brief {
    padding: 7.5% 10.5%;
    text-align: justify;
}

.list-result-wrapper .list-result-main.column-3 .category-item-wrapper .category-item .category-brief p{
    font-size: 1.6rem;
}

.list-result-wrapper .list-result-main.column-3 .category-item-wrapper .category-item .category-brief p.cta{
    text-align: center;
}

.list-result-wrapper .list-result-main.column-3 .category-item-wrapper .category-item .category-brief p a {
    color: #178ee9;
    text-decoration: none;
}


/*@media screen and (max-width: 700px) {
    .list-result-wrapper .list-result-main.column-3 li, .list-result-wrapper .list-result-main.column-3 li:before {
        width: 48.774%;
    }

    .list-result-wrapper .list-result-main.column-3 li:nth-child(2n+0):before {
        left: 51.2249%;
    }

    .list-result-wrapper .list-result-main.column-3 li:nth-child(3n+0):before {
        left: 0;
    }


    .list-result-wrapper .list-result-main.column-3 li:nth-child(2n+1){
        margin-left: 0;
    }

    .list-result-wrapper .list-result-main.column-3 li:nth-child(2n+0){
        margin-left: 2.4509%;
    }

    .list-result-wrapper .list-result-main.column-3 li:nth-child(3) .category-item-wrapper h2{
        padding-top:30px;
    }


    .list-result-wrapper .list-result-main.column-3 .category-item-wrapper h2 {
        font-size: 2rem;
    }

}


@media screen and (max-width: 450px) {
    .list-result-wrapper .list-result-main.column-3 li {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .list-result-wrapper .list-result-main.column-3 .category-item-wrapper .category-item .category-brief {
        padding: 5% 8%;
    }
    .list-result-wrapper .list-result-main.column-3 li:nth-child(2) .category-item-wrapper h2,
    .list-result-wrapper .list-result-main.column-3 li:nth-child(3) .category-item-wrapper h2{
        padding-top:30px;
    }
}*/




/* Embeded Videos / Maps / Objects */
.embeded-from-url {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
    color: #fff;
}

.embeded-from-url iframe, .embeded-from-url object, .embeded-from-url embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}




/* Aside style */
.content-main aside .content {
    padding: 30px 20px;
    box-sizing: border-box;
}

.content-main aside .content p{
    font-size: 1.5rem;
}

.content-main aside ul {
    margin-top: 30px;
}

.content-main aside ul, .content-main aside li {
    display: block;
    float: none;
}

.content-main aside li.icon-tel:before {
    content: "t";
}

.content-main aside li.icon-web:before {
    content: "v";
}

.content-main aside li.icon-email:before {
    content: "w";
}

.content-main aside li a {
    text-decoration: none;
    color: #4d5967;
    font-family: 'PFDinTextUniversal-Light', Arial, Helvetica, sans-serif;

}




/* Form Elements */
.form-continer {
    border:2px solid #bfbfbf;
    border-radius: 5px;
    padding: 35px;
}

.form-continer > h2 {
    color:#4d5967;
    font-size: 2.8rem;
    font-family: 'PFDinTextUniversal-Light';
}

.file-upload input[type="file"] {
    position: fixed;
    top: -10000px;
}

.file-upload.icon-upload:before {
    content: "I";
    font-size: 7.3rem;
    color: #1d5da9;
    float: left;
}

.form-field.file label.field-container:hover .file-upload.icon-upload:before {
    color: #0f4b92;
}


.file-upload p {
    float: left;
    padding-left: 25px;
    margin: 0;
}

.file-upload p.button {
  float: right;
    padding-top: 17px;
}

.file-upload p+p {
    margin: 0;
}

.file-upload p span{
    display: block;
    font-size: 2rem;
}

.file-upload p span.title {
    font-family: 'PFDinTextUniversal-Medium';
}

.file-upload p span.note {
    font-size: 1.5rem;
}

.file-upload:hover {

}
.file-upload:active {

}


/* Form Elements */

.form-continer ::-webkit-input-placeholder {
    font-family: 'PFDinTextUniversal-Light' !important;
    color: #1d5da9;
}

.form-continer :-moz-placeholder { /* Firefox 18- */
    font-family: 'PFDinTextUniversal-Light';
    color: #1d5da9;
}

.form-continer ::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'PFDinTextUniversal-Light';
    color: #1d5da9;
}

.form-continer :-ms-input-placeholder {
    font-family: 'PFDinTextUniversal-Light';
    color: #1d5da9;
}


textarea:focus, input:focus, select:focus{
    outline: 0;
}

.form-field {
    background-color: #ffffff;
    border: 2px solid #1d5da9;
    margin-top: 10px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-field.file {
    border-radius: 0;
    border: none;
}

.form-continer .form-field + .form-field{
    margin-top: 35px;
}
.form-field.submit {
    border-radius: 0;
    border: none;
    margin-top: 35px;
}

.form-field.captcha {
    background-color: #f9f9f9;
    border: 2px solid #d0d0d0;
    box-sizing: border-box;
    padding: 35px;
    margin-top: 30px;
}

.form-field label.field-container {
    position: relative;
    background-color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
    height: 36px;
    overflow: hidden;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form-field label.field-container.textarea {
    height: 150px;
    padding: 0  10px;
}

.form-field.file label.field-container{
    height: auto;
    padding: 0;
}

.form-field.submit label.field-container{
    height: auto;
    padding: 0;
    border: none;
}

.form-field.captcha label.field-container{
    height: auto;
    padding: 0;
    background-color: transparent;
}

.form-field .ui-select {
    padding: 8px 0;
    position: relative;
}

.form-field .ui-select:before {
    font-size: 2rem;
    color: #1d5da9;
    padding: 0 5px 0 0;
    margin: 0;
    position: absolute;
    height: 16px;
    right: 0;
    pointer-events: none;
}

.form-field .ui-select select {
    width: 125%;
    padding: 0;
    margin: 0;
    -moz-padding-start: 0;
    font-size: 1.4rem;
    color: #1d5da9;
    line-height: 1.4;
    display:block;
    height: auto;
    background: transparent;
    border: none;
    border-radius:0;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-family: 'PFDinTextUniversal-Light';
}

.form-field .ui-input , .form-field .ui-textarea{
    padding: 8px 0;
    position: relative;
    box-sizing: border-box;
    height: 100%;
}

.form-field .ui-input input {
    font-size: 1.4rem;
    color: #1d5da9;
    width: 100%;
    display:block;
    height: auto;
    background: transparent;
    border: none;
    border-radius:0;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-family: 'PFDinTextUniversal-Light';
}

.form-field .ui-textarea textarea {
    font-size: 1.4rem;
    color: #1d5da9;
    width: 100%;
    display:block;
    height: 100%;
    background: transparent;
    border: none;
    border-radius:0;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    resize: none;
    font-family: 'PFDinTextUniversal-Light';

}

.form-field .ui-captcha img {
    width: auto;
    height: auto;
}


.form-field.captcha input {
    margin-top: 10px;
    font-size: 1.4rem;
    border:1px solid #ccc;
    padding: 8px 15px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'PFDinTextUniversal-Light';

}


.form-field span.wpcf7-not-valid-tip {
    display: block;
    width: 100%;
    float: left;
    margin-top: 10px;
    font-size: 1.2rem;
}



/*@media screen and (max-width: 800px) {
    .form-field.captcha {
        padding: 20px;
    }
    .form-continer {
        padding: 20px;
    }
    .file-upload p.button {
        display: none;
    }

    .file-upload {
        text-align: left;
    }

    .file-upload p {
        float: none;
        padding-left: 0;
    }

    .file-upload.icon-upload:before {
        float: none;
        display: inline-block;
    }

}*/
/* Form Elements */




/* Google Map */
.map-wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

#map_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height:20px;
    border: 2px solid black;
    white-space: nowrap;
}



/* Share This For Page */
.share-wrapper  {
    position: absolute;
    top:0;
    right: 0;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}
.st_sharethis_custom{
    color: #1d5da9;
    font-size: 2.5rem;
    display: inline-block;
    line-height: 1;
    margin-left: 5px;
}


/* Tabbed Content */
.content.tab-wrapper{
    background-color: #efefef;
}
.content ul.tabs {
    display: table;
    width: 100%;
    margin: 0;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 2px;
}

.content ul.tabs .tab-content-wrapper {
    display: none;
}

.content ul.tabs:after {
    display: none;
}

.content ul.tabs li{
    display: table-cell;
    float: none;
    margin: 0;
    padding: 0;
    width: auto;
    text-align: center;
    position: inherit;
    line-height: 2.2;
}

.content ul.tabs li:before{
    display: none;
}

.content ul.tabs li a{
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 1.8rem;
    color:#56565a;
    text-decoration: none;
    display: block;
    background-color: #d1d1d1;
    box-sizing: border-box;
}

.content ul.tabs li:hover a{
    color:#1d5da9;
}

.content ul.tabs li.active a{
    color:#fff;
    background-color: #1d5da9;
    position: relative;
}

.content ul.tabs li.active a:before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 100%;
    border-left:3px solid #fff;
    position: absolute;
    left:0;
    top:0;
}

.content ul.tabs li:first-child.active a:before {
    display: none;
}

.content ul.tabs li.active a:after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 100%;
    border-right:3px solid #fff;
    position: absolute;
    right:0;
    top:0;
}

.content ul.tabs li:last-child.active a:after {
    display: none;
}

.content .tab-content-wrapper {
    background-color: #fff;
    padding-top: 3px;
    display: none;
}

.content .tab-content-wrapper.active {
    display: block;
}

.content .tab-content-wrapper .accordion-wrapper h2 {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.7rem;
    color:#56565a;
    background-color: #fff;
    padding: 5px 25px;
    box-sizing: border-box;
    cursor: pointer;
    border:2px solid #959595;
}

.content .tab-content-wrapper .accordion-wrapper h2:hover {
    background-color: #d1d1d1;
}



.content .tab-content-wrapper .accordion-wrapper{
    background-color: #efefef;
    margin-top: -2px;

}

.content .tab-content-wrapper .accordion-wrapper .accordion-content {
    font-size: 1.5rem;
    padding: 0;
    box-sizing: border-box;
    height: 0;
    overflow: hidden;
    -webkit-transition:height 0.2s ease-out;
    -moz-transition:height 0.2s ease-out;
    -o-transition:height 0.2s ease-out;
    transition:height 0.2s ease-out;

}

.content .tab-content-wrapper .accordion-wrapper h2.active + .accordion-content {
    padding: 25px;
    height: 906px;  /*height: 250px;*/
    box-sizing: border-box;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 2px;
}

.content .tab-content-wrapper .accordion-content p {
    font-size: 1.5rem;
    color: #363636;
}

.content .tab-content-wrapper .accordion-wrapper h2.active {
    background-color: #d1d1d1;
    border:none;
    border-top: 2px solid #959595;
    display: none;  /*hidding title*/
}

.content .tab-content-wrapper .accordion-wrapper:first-child h2.active {
    border-top:none;
}


/*@media screen and (max-width: 880px) {
    .content ul.tabs li {
        display: block;
        margin-bottom: 3px;
    }
    .content ul.tabs li.active a:after {
        display: none;
    }
    .content ul.tabs li.active a:before {
        display: none;
    }

    .content .tab-content-wrapper {
        padding-top: 0;
    }
}*/




/* Timeline */
.content-main .year-button-wrapper {
    background: #d1d1d1;
    position: relative;
    overflow: hidden;
    height: 38px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}
.content-main .year-button-wrapper.sticky {
    position: fixed;
    top:5px;
    max-width: 1120px;
    margin: 0 auto;
    z-index: 1;
    width: 95%;
}
.content-main .year-button-view {
    display: inline-block;
    height: 80px;
    width: 102%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
}
.content-main ul.years {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    background-color: #d1d1d1;
    width: auto;
    border-radius: 5px;
}

.content-main ul.years li {
    float: none;
    width: auto;
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 1.8rem;
    margin:0;
    display: inline-block;
    line-height: 1;
    padding:0;
    box-sizing: border-box;
    padding: 10px 25px;
}

.content-main ul.years li a {
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 1.8rem;
    text-decoration: none;
    color: #56565a;
}

.content-main ul.years li:before {
    display: none;
}

.content-main ul.years li:first-child {
    border-radius: 5px 0 0 5px;
}

.content-main ul.years li:last-child {
    border-radius: 0 5px 5px 0;
}

.content-main ul.years li.active {
    color: #fff;
    background-color: #1d5da9;
}

.content-main ul.years li.active a {
    color: #fff;
}


.content-main .events-wrapper {
    margin:25px 0 70px 0;
}

.content-main .events-wrapper .events {
    background-color: #efefef;
    padding: 25px;
    box-sizing: border-box;
}

.content-main .events-wrapper .events + .events {
    margin-top: 40px;
}

.content-main .events-wrapper .events header {
    position: relative;
}

.content-main .events-wrapper .events header img {
    width: 100%;
    height: auto;
}

.content-main .events-wrapper .events header .title {
    position: absolute;
    top:20px;
    left:20px;
    padding: 10px 35px;
    font-size: 3.1rem;
    display: inline-block;
    background-color: #1d5da9;
    font-family: 'PFDinTextUniversal-Medium';
    line-height: 1;
    -webkit-border-radius: 0 8px;
    -moz-border-radius: 0 8px;
    border-radius: 0 8px;
    margin: 0 5px;
    color: #fff !important;
    text-decoration: none;
}

.content-main .events-wrapper .events header .title span {
    font-size: 2.2rem;
    display: inline-block;
    margin-left: 5px;
    font-family: 'PFDinTextUniversal-Light';
}

.content-main .events-wrapper .events article{
    margin-top: 20px;
}

/*@media screen and (max-width: 880px) {
    .content-main .events-wrapper .events + .events{
        margin-top: 25px;
    }

    .content-main .events-wrapper .events header .title {
        font-size: 2.5rem;
        padding: 10px 25px;
        top:15px;
        left:15px;
    }
    .content-main .events-wrapper .events header .title span{
        font-size: 1.8rem;
    }

}

@media screen and (max-width: 670px) {
    .content-main .events-wrapper .events {
        padding: 15px;
    }

    .content-main .events-wrapper .events + .events{
        margin-top: 20px;
    }

    .content-main .year-button-wrapper.sticky {
        top:50px;
    }
    .content-main .events-wrapper .events header .title {
        font-size: 2rem;
        padding: 5px 20px;
        top:10px;
        left:10px;

    }
    .content-main .events-wrapper .events header .title span{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 420px) {
    .content-main .events-wrapper .events {
        padding: 10px;
    }
    .content-main .events-wrapper .events + .events{
        margin-top: 10px;
    }
    .content-main .events-wrapper .events header .title {
        font-size: 1.3rem;
        padding: 5px 10px;
        top:5px;
        left:5px;

    }
    .content-main .events-wrapper .events header .title span{
        font-size: 1rem;
    }

}*/

                            /***************common class css***************/
/*******************************************************************************************************************/                                         
/*******************************************************************************************************************/
.content h1,
.popup h1,
.history_table h1,
.main_head{
    font-family:'OpenSansBold';
    font-size: 2.5rem;
    color: #56565a; 
 }

.rm_a{
    text-decoration: none;
    color: #4D5967;
    text-transform: capitalize;
}

.txt_box_border{
    border: 2px solid #bfbfbf;
    background-color: #fff;
    font-size: 1.8rem;
    line-height: 1.8;
}
.txt_box_border:focus {
    border:2px solid #1d5da9;
    font-size: 1.8rem;
    line-height: 1.8;

}

.row_title{
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 2.2rem;
}
.tbl_col_a{
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 1.5rem;
    /*text-decoration: none;*/
}

/*remove deafult select dropdown*/
.rm_select{
    -webkit-appearance: none;
    -moz-appearance: none;
}
.rm_select::-ms-expand {
    display: none;
}

/*for popup*/
.white-popup {
    position: relative;
    background: #F7F7F7;
    width: 720px;
    margin: 20px auto;
    box-shadow: 0px 0px 30px #bfbfbf;
}

                         /***************Account Details page***************/
/*******************************************************************************************************************/                                         
/*******************************************************************************************************************/

.cell_data_acc{
    float:left;
    display:table-column;
    padding: 10px 0;
}

.second_half .cell_data_acc {
    padding: 20px 0 0 0;
}

.account-table .title {
    width: 214px;
}

.second_half .account-table .title {
    width: 246px;
}

.account-table .icon_edit_save {
    width: 121px;
    margin-left: 10px;
}

.account-table input[type="text"] {
    font-size: 1.5rem;
    color: #4D5967;
    width: 432px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 20px;
    border-radius: 4px;
    position: relative;
    top: -8px;
}


/*.account-table a {
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 1.5rem;
}*/

.account-table .icon-pencil41,
.account-table .icon-check-box {
    font-size: 2.5rem;
    vertical-align: middle;
}


.submit_link.add_contact {
    margin-left: 0;
    margin-top: 30px;
    width: 705px;
}

.submit_link a{
    padding: 4px 0;
    background-color: #efefef;
    text-align: center;
    border-radius: 0 8px;
    display: inline-block;
    width: 100%;
}

.submit_link a.deactive:hover{
    background-color: #efefef;
    color: #56565a;
}

.submit_link a:hover,  .submit_link a:hover span{
    color: #fff;
    background-color: #1c5eab;
}

/* css for quick links from mixin*/

.quick_links {
    border: 2px solid #bfbfbf !important;
}
.quick_links_box {
    margin: 20px 30px;
}
.quick_links_box h2 {
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 2.8rem;
    color: #4D5967;
    font-weight: normal;
    text-align: center;
}
.quick_links_box .link {
    margin: 30px 0px;
}
a.quick_link_button {
    width: 220px;
    box-sizing: border-box;
    display: inline-block;
    color: #56565a;
    background-color: #efefef;
    line-height: 1.2;
    text-decoration: none;
    padding: 10px;
    border-radius: 0 8px;
}
a.quick_link_button:hover{
    color: #fff;
    background-color: #1c5eab;
}
.quick_links_box .quick_icon{
    font-size: 4rem;
    float: left;
    padding-right: 20px;
}
.quick_links_box .value{
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 1.5rem;
    line-height: 40px;
}

                            /***************billing page***************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/                          

.main_content{
    color: #4d5967;
    line-height: 1.2;
    margin-bottom: 10px;
}
.content{
    margin-bottom: 50px;
}


.table{
    display:table;         
    width:auto;
}
.row_head{
    display:table-row;
    width:auto;
    clear:both;

    font-family: 'PFDinTextUniversal-Medium';
    font-size: 2.2rem;
    color: #4D5967;
    line-height: 1;
}

.row_data{
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.8rem;
    color: #4D5967;
    line-height: 1;
}

.row_head div:hover {
    color:#1d5da9;
}

.row_data:hover, .row_data:hover a, .row_data.view_history:hover a {
    color: #1d5da9 !important;
}

.row_data:hover .view_edit a {
    background-color: #1c5eab;
    color: #fff !important;
}

.cell_head,
.cell_data{
  float:left;
  display:table-column;
}

.cell_head{
  margin-bottom: 25px;
}
.cell_data{
  padding: 25px 0px;
  border-bottom: 1px solid #bfbfbf;
}
.cell_data.des_amt{
  padding-bottom: 13px;
}


.hide{
  display: none;
}
.clearfix{
  clear: both;
}
.no_border{
  border: none;
}
.row_data:last-child .cell_data {
    border: none;
}


.chkbox {
    width: 52px;    
}
.sid{
    width: 167px;
}
.sname{
    width: 213px;
}
.date{
    width: 139px;
}
.out_bill{
    width: 178px;
}
.bil_amt{
    width: 167px;
    height: 30px;
    box-sizing:border-box;
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: -5px
}
.view{
    width: 176px;
    margin-left: 20px;
}

.bill_table .chkbox_icon {
    height: 32px;
}
.bill_table .chkbox.active{
    color: #1c5eab;
}
.bil_amt:focus{
    color: #1d5da9;
    font-size: 1.5rem;
}
.bil_amt.active{
    color: #1d5da9;
    border :2px solid #1d5da9;
}

a.view_detail
 {
    background-color: #efefef;
    font-size: 1.5rem;
    color: #56565a !important;
    text-decoration: none;
    padding: 12px 40px;
    -webkit-border-radius: 0 8px;
    -moz-border-radius: 0 8px;
    border-radius: 0 8px;
}

a.view_detail:hover,
a.view_detail.active {
    background-color: #1c5eab;
    color: #fff !important;
}

.submit_link {
    width: 698px;
    height: 30px;
    margin: 35px 0px 15px 52px;
}

.submit_link a{
    font-family: 'PFDinTextUniversal-Medium';
    color:#56565a;  
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    padding: 4px 0;
    position: relative;
    top: 4px;
}

.bill_table .chkbox_icon.icon-check-box {
    font-size: 110%;
    color: #1c5eab;
}


[class^="icon-"], [class*=" icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block;
    fill: currentColor;
}

/*billing popup css*/

.popup_billing .popup{
    margin: 0 155px;
}
.popup_billing .popup_close{
    left: 495px;
} 

.popup_billing .popup h1{
    margin-top: 60px;
    margin-bottom: 40px;
}
.popup_billing .s_id{
    width: 205px;
}
.popup_billing .s_name{
    width: 205px;
    font-family: 'PFDinTextUniversal-Medium';
    text-align: right;
}
.popup_billing .popup .cell_data{
    border-bottom: 1px solid #bfbfbf;
    padding: 20px 0;
}
.popup_billing .row_data:nth-last-child(2) .cell_data{
    border: none;
}

.popup_billing .popup .cancel{
    margin-left: 0;
}
.popup_billing .popup .save.paynow a{
    padding: 9px 55px 12px;
}




                            /***************Contacts page***************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/                          

.contacts_table .cell_data{
    border: none;
}

.contacts_table .name{
    width: 98px;
}

.contacts_table .title{
    width: 140px;
}

.contacts_table .tel{
    width: 124px;
}

.contacts_table .mob{
    width: 118px;
}

.contacts_table .email{
    width: 165px;
}
.contacts_table .edit{
    width: 80px;
    padding-bottom: 11px;
}

.contacts_table .delete{
    width: 80px;
    padding-bottom: 11px;
}

.contacts_table a{
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
}
.edit span{
    font-size: 2.6rem;
    vertical-align: middle;
}
.delete span{
    font-size: 2.1rem;
    vertical-align: middle;
    position: relative;
    top: 4px;
}
.edit a.active,
.delete a.active{
    color: #1c5eab;
}

.submit_link.contacts{
    margin-left: 0;
    width: 705px;
}


            /*popup contacts
==============================================*/

.popup_contacts .popup{
    margin: 0 118px;
}
.popup_contacts .popup h1{
    margin-top: 60px;
    margin-bottom: 40px;
}
.popup_contacts .cell_data{
    padding: 15px 0;
    border: none;
}
.popup .label {
    width: 170px;
    display: inline-block;

    font-family: 'PFDinTextUniversal-Medium';
    font-size: 1.8rem;
    color: #4D5967;
    line-height: 1;
}
.popup .name .label {
    font-size: 2.2rem;
}

.popup .text_box {
    position: relative;
    top: -5px;
}
.popup .name .text_box {
    top: -2px;
}

.popup input[type='text'] {
    width: 310px;
    height: 30px;
    padding-left: 20px;
    box-sizing: border-box;
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.8rem;
    line-height: 1.6;
    color: #4D5967;       
}

.popup .cancel,
.popup .save{
    width: 190px;
    height: 45px;

    font-family: 'PFDinTextUniversal-Light';
    font-size: 2.2rem;    
    float: left;
    text-align: center;
    border-radius: 0 8px;

}

.popup .cancel{
    background-color: #56565a;    
    margin-right: 30px;
}
.popup_contacts .popup .cancel{
    margin-left: 40px;
}
.popup .save {
    background-color: #1c5eab;    
}

.popup .button{
    margin-top: 45px;
}
.popup_billing .popup .button{
    margin-bottom: 75px;
}
.popup_contacts .popup .button{
    margin-bottom: 60px;
    text-align: center;
}

.popup_contacts .popup .button > span {
    display: inline-block;
    margin: 0 10px;
}

.popup .button a{     
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 5px;
}

.popup .button a:hover  {
    background-color: #56565a;
}

.popup .cancel a{
    padding: 9px 65px 12px;
}
.popup_contacts .popup .save a{
    padding: 9px 73px 12px;
}

.popup .message{
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 2rem;
    color: #4D5967;
    text-align: center;
}

.popup .message p{
    margin: auto;
    padding-bottom: 40px;
}




                            /***************Dashboard page***************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/                          

.block{
    background-color: #efefef;
}
.block1{
    height: 80px;
    margin-bottom: 30px;
    padding: 40px 60px 20px 60px;
}

.block2{
    margin-bottom: 65px;
    padding: 40px 60px;
}

.block p {
    font-size: 2.2rem;
}

/*.block2 p.welcome{
    padding-bottom: 15px;
}*/

.dashboard_details{
    margin-top: 25px;
}

.detail{
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 2.2rem;
    color: #4D5967;
    padding: 5px 0;
}

.detail span{
    font-family: 'PFDinTextUniversal-Light';
    color: #1e5ea9;
    padding-left: 10px;
}



                            /***************services page***************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/  

.service_table .service_id {
    width: 200px;
}
.service_table .service_name {
    width: 345px;
}
.service_table .view_edit {
    width: 190px;
    height: 44px;
}

.service_table .cell_data {
    border-bottom: none;
    padding: 10px 0;
}

.submit_link.service_link{
    width: 735px;
    margin-left: 0;
}
.submit_link.service_link a {
    padding: 4px 315px;
}

.submit_link.service_link a{
    padding: 4px 0;
    background-color: #efefef;
    text-align: center;
    border-radius: 0 8px;
    display: inline-block;
    width: 100%;
}

.submit_link.service_link a.deactive:hover{
    background-color: #efefef;
    color: #56565a;
}

.submit_link.service_link a:hover{
    color: #fff;
    background-color: #1c5eab;
}





                            /***************Job Title page***************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/ 

.content-main aside .aside_job_title {
    background-color: #efefef;
    padding: 15px 20px;
}
.aside_job_title {
    margin-bottom: 0;
}
.aside_job_title ul{
    padding: 0px 0px 0px 15px;
}
.aside_job_title li{
    height: 68px;
}
.aside_job_title li.icon-email126{
    height: 45px;
}
.aside_job_title p{
    margin: 30px 0 45px 0px;
    color: #363636;
}
.content-main .aside_job_title li a{
    color: #363636;
}

aside .content.aside_job_title:before{
    position: relative;
}
.empty_content {
    width: 100%;
    background-color: #fff;
    height: 40px;
}




                            /***************Transaction History page***************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/ 

.history_table h1{
    margin-bottom: 40px;
}

.history_table .cell_data{
    padding: 20px 0;
    border: none;
}
.history_table .receipt_id{
    width: 215px;
    font-size: 2rem;
}
.history_table .description{
    width: 235px;
    font-size: 2rem;
}
.history_table .amt_paid{
    width: 235px;
    font-size: 2rem;
}
.history_table .date{
    width: 250px;
    font-size: 2rem;
    padding-right: 0;  /*for align arrow*/
}
.history_table .view_invoice{
    width: 150px;
}

.history_table .cell_head{
    font-size: 2rem;
}

.history_table .view_history a{
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 1.5rem;
    color: #56565a;
    text-decoration: none;
    position: relative;
    top: -15px;
}
.view_history a:hover{
    color: #1c5eab;
}

.history_table .view_history a span{
    font-size: 27px;
    position: relative;
    top: 10px;
    padding-right: 5px;
}

.submit_link.load_more{
    width: 750px;
    margin-left: 0;
}
.invoice_history .submit_link.load_more{
    margin-bottom: 65px;
}
.payment_history .submit_link.load_more{
    margin-bottom: 65px;
}

.load_more span{
    font-size: 1.2rem;
    color: #9a9a9a;
    padding-left: 10px;
}

/*set dropdown arrow for select*/
.history_table select{
    background: url('../img/placeholders/down67.png') no-repeat right;
    padding-right: 30px;
}

                            /***************Service Details page***************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/ 

.sd_table .service_title {
    width: 246px;
}
.sd_table .first_half .service_txt_box input {
    width: 845px;
}

.sd_table .service_txt_box input {
    padding-left: 20px;
}
.sd_table .service_txt_box {
    position: relative;
    width: 585px;
}
.sd_table .cell_data {
    padding: 15px 0px;
    border: none;
}

.sd_table .second_half .service_txt_box input {
    width: 560px;
}

/*custom dropdown arrow for select*/
.cust_select{
    width: 585px;
    background: url('../img/placeholders/down1.png') no-repeat 98% 50%;
    border: 2px solid #bfbfbf;
    padding-left: 20px;
    border-radius: 0;
    line-height: 1.8;
    font-size: 1.8rem;
}
.sd_table .cust_select{
    height: 36px;
}
.sd_table .up_sa_call {
    margin-left: 80px;
    position: relative;
    top: 3px;
}
.up_sa_call a:hover {
    color: #1c5eab;
}

.up_sa_call .icon{
    font-size: 2.6rem;
}
.up_sa_call .a_txt{
    position: relative;
    top: -7px;
}



.div_9 {
    margin: 85px auto 45px auto;
    text-align: center;
}

.box-shadow-bottom {
    position: relative;
    background-color: #fff;
    padding-bottom: 30px;
}

.box-shadow-bottom:before, .box-shadow-bottom:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 20px;
    left: 3px;
    width: 50%;
    top: 80%;
    background: #eee;
    box-shadow: 0 25px 10px #eee;
    transform: rotate(2deg);
}

.box-shadow-bottom:after {
    transform: rotate(-2deg);
    right: 3px;
    left: auto;
}



.div_9 .button-wrapper{
    display: inline-block;
}

.cell_9 {
    float: left;
    width: 220px;
    height: 62px;
    font-size: 1.5rem;
    text-align: center;
}

.cell_9 a.ui-button {
    min-width: 235px;
    box-sizing: border-box;
    padding: 25px 30px !important;
    text-align: center;
    font-size: 1.6rem;
    background-color: #efefef;
    color: #56565a !important;
}

.cell_9 a.ui-button:hover, .cell_9 a.ui-button.active {
    background-color: #1c5eab !important;
    color: #ffffff !important;
}

/*hover for cell_9*/

.row_91, .row_92 {
    margin-bottom: 30px;
}
.col_91, .col_92 {
    margin-right: 45px;
}

.data_9{
    margin-top: 20px;
}
.data_91 a{
    padding: 21px 74px;
}
.data_92 a{
    padding: 21px 70px;
}
.data_93 a{
    padding: 21px 60px;
}
.data_94 a{
    padding: 21px 48px;
}
.data_95 a{
    padding: 21px 66px;
}
.data_96 a{
    padding: 21px 60px;
}
.data_97 a{
    padding: 21px 62px;
}
.data_98 a{
    padding: 21px 61px;
}
.data_99 a{
    padding: 21px 42px;
}


.select_internet_service {
    width: 372px;
    float: left;

    font-family: 'OpenSansRegular';
    font-size: 2.2rem;
    color: #56565a;
}
.option{
    margin-bottom: 30px;
}
.option input[type='radio'] {
    display: none;
}

.option span{
    position: relative;
    top: 3px;
}

.icon-radio51{
    color: #1c5eab;
}

.option label{
    padding-bottom: 30px
}

.service_description p{
    text-align: justify;
}

.service_description p+p{
    margin-top: 50px;
}


.confirm{
    position: absolute;
    right: 0;
}
.change_sub .confirm a{
    margin: 0;
    padding: 15px 72px;
}
.space_btm{
    height: 46px;
}



                            /***************Usage Summary Page***************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/                          

.summary_detail .service_key{
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 2.2rem;
    color: #4D5967;
    padding: 5px 0;
}

.summary_detail .service_value{
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.8rem;
    color: #4d5967;
    padding-left: 20px;
}

.summary_content {
    margin-bottom: 25px;
}
.content.summary_row {
    margin: auto;
}
.summary_content_row1 {
    margin-bottom: 65px;
}
.summary_content_row2 {
    margin-bottom: 100px;
}
.summary_content_row3 {
    margin-bottom: 60px;
}

.view_last_btn{
    width: 160px;
    color: #4D5967;
    background-color: #efefef;
    
    font-size: 1.8rem;
    font-family: 'PFDinTextUniversal-Medium';
    vertical-align: middle;
    margin-right: 10px;    
    padding: 10px 45px;
    border-radius: 0 8px;
    
}

.view_last_btn.active{
    background-color: #1c5eab;
    color: #fff;
}


.lbl{
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 2.2rem;
    color: #4D5967;
    padding: 5px 20px 5px 0;
    vertical-align: middle;
}
.lbl1{
    font-family: 'PFDinTextUniversal-Medium';
    font-size: 2.2rem;
    color: #4D5967;
    padding: 5px 20px 5px 20px;
    margin-left: 44px;
    vertical-align: middle;
}
a.ui-button.summary_btn {
    padding: 10px 45px;
    font-size: 1.8rem;
    font-family: 'PFDinTextUniversal-Medium';
    vertical-align: middle;
    min-width: 69px;
}
.datepicker{
    width: 80px;
    height: 30px;
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.8rem ;
    color: #4d5967;
    text-align: center;
    margin: 10px;
}
.from_to {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.5rem ;
    color: #4d5967;
    vertical-align: middle;
}

.icon-right154 {
    width: 30px;
    height: 30px;
    box-sizing:border-box;
    background-color: #1c5eab;
    color: #fff !important;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
}

.graph_option{
    width: 180px;
    background: #fff;
    font-size: 2.2rem;
    font-family: 'PFDinTextUniversal-Light';

    position: absolute;
    top: 320px;
    left: 100px;
}

.graph_option_content{
    padding: 20px 25px;    
    box-shadow: 0px 0px 5px #bfbfbf;
}

.graph_option .chkbox_icon {
    position: relative;
    top: 3px;
    padding-right: 5px;
}

.graph_option .chkbox_icon.icon-check-box {
    color: #1c5eab;
}


                            /**********************Request new service page **********************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/                          

.list_col_1 {
    float:left;
}
.list_col_2 {
    float:right;
}
.app_details .main_head{
    margin-bottom: 30px;
}
.new_service_table .cell_data{
    padding: 13px 0;
    border: none;
}
.new_service_table .new_service_title {
    font-family: 'PFDinTextUniversal-Light';
    font-size: 2.0rem;
    width: 150px;
 }
.new_service_table input[type="text"] {
    font-size: 1.5rem;
    color: #4D5967;
    width: 350px;
    height: 40px;
    padding-left: 20px;
    border-radius: 4px;
    position: relative;
    top: -12px;
}

.new_service_table .make_space{
    margin-bottom: 70px;
}

.add_block_margin {
    margin-top: 40px;
}

.app_details_list_5{
    margin-top: 80px;
}

.select_requested_service, 
.type_of_internet_service {
    width: 100%;
    font-family: 'OpenSansRegular';
    font-size: 2.2rem;
    color: #56565a;
}
.select_requested_service .option {
    float:left;
    width:25%;
}

.speed_selection {
    font-size: 2rem;
}

.app_details textarea{
    width: 100%;
    padding: 10px 20px;
    border-radius: 2px;
}

textarea.add_comts{
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.8rem ;
    color: #4d5967;
}

.file-upload.icon-upload{
    width: 100%;
    height: auto;
}


.app_details .ui-button-secondary {
    background-color: #efefef;
    font-family: 'PFDinTextUniversal-Light';
    font-size: 1.5rem;
    line-height: 1.5;
    -webkit-border-radius: 0 8px;
    -moz-border-radius: 0 8px;
    border-radius: 0 8px;
    margin: 0;
    color: #56565a;
    text-decoration: none;
    
}

.app_details .ui-button-secondary:hover {
    color: #fff;
    background-color: #1c5eab;
    cursor: pointer;
}

.file-upload .ui-button-secondary{
    padding: 10px 72px;
}

.app_details_list_9{
    margin: 100px 0;
}
.app_details_list_9 .captcha{
    width: 50%;
    height: 120px;
    float: left;
    background-color: #f9f9f9;
}

.final_button{
    float: right;
}
.reset .ui-button-secondary{
    padding: 10px 78px;
    margin-bottom: 35px;
}
.submit .ui-button-secondary{
    padding: 10px 39px;
}

.bottom_text {
    font-size: 2rem;
    color: #4d5967;
    text-align: center;
}
