{% extends "password_reset/base.html" %}{% load i18n %}

{% block title %}{% trans "New password set" %}{% endblock %}

{% block content %}
	<p>{% trans "Your password has successfully been reset. You can use it right now on the login page." %}</p>
        <p><a href="/portal/">Click Here</a> {% trans "to go to login page" %}</p>
{% endblock %}
