block config
    include ../include/config

doctype
html.no-js(lang="en")
    include ../include/head

    body

        // Start .master
        div(class="master-wrapper")
            // Start .page-header
            include ../include/header
            // End .page-header

            .content-main-wrapper
                block contentInner
                    | this would be replaced by the page' partial HMTL content

            // Start .page-footer
            include ../include/footer
            // End .page-footer

        // End .master

        // Start scripts include
        include ../include/footer-scripts
        // End scripts include
